<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
        <div class="row">
                        <div class="col-md-12">
                            
                            <!--Start of form section-->
                            <div class="panel panel-default">
                                <!--Start of form heading section-->
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Material</strong> Expenses</h3>
                                </div>
                                <!--End of form heading section-->
                                <div class="panel-body">                              
                                    <form name="materialExpenseForm" class="form-horizontal" novalidate>  
                                                                  
                                    <!--Start of form container row-->
                                    <div class="row">
                
                                        <!--start-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Select Project</label>
                                            <div class="col-md-7">

                                                <select class="form-control" name="projectName"  required  ng-model="expenseDetails.project">
                                                    <option value="" disabled>Select</option>
                                                    <option  ng-repeat="project in projectList" value="{{project.id}}">{{project.name}}</option>
                                                </select>
                                                <div class="help-block" ng-messages="materialExpenseForm.projectName.$error" ng-show="materialExpenseClicked">
                                                    <p style="color:red" ng-message="required">Select Project Name</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Number of Materials</label>

                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input type="number" name="noOfElement" ng-model="noOfElement"
                                                           class="form-control" pattern="[0-9]+">
                                                </div>
                                                <div class="help-block" ng-messages="costCenterForm.noOfElement.$error"
                                                     ng-show="materialExpenseClicked">
                                        <span style="color:red"
                                              ng-message="pattern">Only numeric value is allowed</span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary" ng-click="addFields()">Add</button>
                                            </div>
                                        </div>


                                        <div class="form-group adjust-padding col-md-12">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th class="col-md-3">Material</th>
                                                        <th class="col-md-2">Amount</th>
                                                        <th class="col-md-2">Description</th>
                                                        <th>IsBillApplicable</th>
                                                        <th class="col-md-1">Bill No</th>
                                                        <th class="col-md-2">BillDate</th>
                                                        <th class="col-md-2">BillIssuingEntity</th>
                                                        <th class="col-md-1">Remove</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="materials in materialsExpense">
                                                        <td width="30%">
                                                            <select ng-change="" class="btn dropdown-toggle selectpicker btn-default" data-live-search="true" ng-model="materials.material" name="material"
                                                                    ng-value="Select" required style="width: 90%">
                                                                <option value="" disabled selected>Select Material</option>
                                                                <option ng-repeat="x in materialEntryList" value={{x.materialid}}>{{x.productname}}
                                                                </option>
                                                            </select>
                                                            <div class="help-block" ng-show="getNoOfMaterials()<=0"
                                                                 ng-show="createCostCenterClicked">
                                                                <p style="color:red">Please add atleast one material.</p>
                                                            </div>
                                                            <div class="help-block" ng-messages="costCenterForm.material.$error"
                                                                 ng-show="createCostCenterClicked">
                                                                <p style="color:red" ng-message="required">Please enter material.</p>
                                                            </div>
                                                        </td>
                                                        <td><input name="amount" ng-model="materials.amount"
                                                                   type="text" placeholder="" class="form-control" required/></td>
                                                        <td><input ng-model="materials.description" name="description" type="text"
                                                                   placeholder="" class="form-control" required
                                                                   ></td>
                                                        <td>
                                                        <input type="checkbox" class="mycheck" ng-model="materials.isBillApplicable"/>
                                                        </td>
                                                        <td><input name="billno" ng-model="materials.billno"
                                                                   type="text" ng-hide="!materials.isBillApplicable" placeholder="" class="form-control" required/></td>
                                                        <td><input name="billdate" ng-model="materials.billdate"
                                                                   type="date" ng-hide="!materials.isBillApplicable" placeholder="" class="form-control" required/></td>
                                                        <td><input name="billIssuingEntity" ng-model="materials.billIssuingEntity"
                                                                   type="text" ng-hide="!materials.isBillApplicable" placeholder="" class="form-control" required/></td>



                                                        <td style="text-align: center;">
                                                            <a ng-click="remove($index)" class="panel-remove">
                                                                <span class="fa fa-times"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>



                                    </div>
                                  </form>      
                                        <!--end-->



                                
                                <!--End of form container row-->


                            </div>
                                <!--Start of buttons section-->
                                <div class="panel-footer">
                                    <button class="btn  btn-primary pull-right" ng-click="(materialExpenseClicked=true)&& addMaterialExpense()">Submit</button>

                                    <button class="btn  btn-default pull-right">Clear Form</button>
                                </div>
                                <!--End of buttons section-->

                             </form>
                                <!--End of form section-->
                        </div>
                    </div>
            </div>



