<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="row">
    <div class="col-md-12">

        <form name="costCenterForm" class="form-horizontal" novalidate>
            <!--Start of form section-->
            <div class="panel panel-default">
                <!--Start of form heading section-->
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Create Cost</strong> Center</h3>
                </div>
                <!--End of form heading section-->

                <div class="panel-body">
                    <!--Start of form container row-->
                    <div class="row">
                        <!--Start of First column of form-->


                        <!--Start of project Field-->
                        <div class="form-group adjust-padding">
                            <label class="col-md-2 control-label">Project</label>

                            <div class="col-md-7">
                                <select class="form-control" name="projectName" ng-model="costCenterDetails.projectId"
                                        required>
                                    <option value="" disabled selected>Select Project</option>
                                    <option ng-repeat="projectEntry in projectList" value="{{projectEntry.id}}">
                                        {{projectEntry.name}}
                                    </option>

                                </select>
                            </div>
                            <div class="help-block" ng-messages="costCenterForm.projectName.$error"
                                 ng-show="createCostCenterClicked">
                                <p style="color:red" ng-message="required">Select Project</p>
                            </div>
                        </div>
                        <!--End of project Field-->
                        <div><!--main start division select tag-->

                            <!--Start of project Field-->
                            <div class="help-block" ng-messages="costCenterForm.allocatedBudget.$error"
                                 ng-show="createCostCenterClicked">
                                <p style="color:red" ng-message="required">Budget Allocated Name Cannot be blank</p>

                                <p style="color:red" ng-message="pattern">Invalid Amount in Budget Allocated.Only
                                    numbers allowed</p>
                            </div>
                            <div class="help-block" ng-messages="costCenterForm.alertLevel.$error"
                                 ng-show="createCostCenterClicked">
                                <p style="color:red" ng-message="required">Alert Level Name Cannot be blank</p>

                                <p style="color:red" ng-message="pattern">Invalid Percentage in Alert Level</p>
                            </div>
                            <div class="form-group adjust-padding">
                                <label class="col-md-2 control-label">Budget Details</label>

                                <div class="col-md-7">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="col-md-3">Segment name</th>
                                            <th class="col-md-3">Allocated Budget</th>
                                            <th class="col-md-2">Alert level</th>
                                            <th class="col-md-2">Remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="segmentEntry in segmentList">
                                            <td>{{segmentEntry.name}}</td>
                                            <td><input name="allocatedBudget" ng-model="segmentEntry.allocatedBudget"
                                                       type="text" placeholder="" class="form-control" required
                                                       pattern="[0-9]+"></td>
                                            <td><input ng-model="segmentEntry.alertLevel" name="alertLevel" type="text"
                                                       placeholder="" class="form-control" required
                                                       pattern="[0-9]*[.]?[0-9]*"></td>
                                            <td style="text-align: center;">
                                                <a ng-click="remove($index)" class="panel-remove">
                                                    <span class="fa fa-times"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--End of project Field-->

                        </div><!--main division select tag-->

                        <!--End of First column of form-->
                    </div>
                    <!--End of form container row-->

                    <!--Start of buttons section-->
                    <div class="panel-footer">
                        <button class="btn  btn-primary pull-right"
                                ng-click="(createCostCenterClicked=true) && costCenterForm.$valid && createCostCenter()">
                            Submit
                        </button>

                        <button class="btn  btn-default pull-right">Clear Form</button>
                    </div>
                    <!--End of buttons section-->
                </div>
                <!--End of form section-->
            </div>
        </form>
    </div>
</div>