<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="row" >

    <div class="col-md-12">

        <!-- START DATATABLE EXPORT -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h3>Project Cost Center</h3>
                </div>

                <div class="form-group col-md-12">
                    <!--table start-->
                    <div class="col-md-12" style="padding-left:0px;">
                        <table id="customers2" class="table datatable">
                            <thead style="text-align: center;">
                            <tr style="text-align: center;">
                                <th width="10%" style="text-align: center;">Project name</th>
                                <th width="10%" style="text-align: center;">Budget Allocated</th>
                                <th width="10%" style="text-align: center;">Material Expense</th>
                                <th width="10%" style="text-align: center;">Other Expense</th>
                                <th width="8%" style="text-align: center;">Total expenditure</th>
                                <!--<th width="5%" style="text-align: center;">Status</th>-->

                            </tr>
                            </thead>
                            <tbody style="text-align: center;">
                            <tr style="text-align: center;" ng-repeat="costCenter in costCenterData">
                                <td width="10%">{{projectName}}</td>
                                <td width="10%">{{costCenter.budgetAllocated}}</td>
                                <td width="10%" ng-model="totalMaterialExpense">{{costCenter.materialExpense}}</td>
                                <td width="10%">{{costCenter.otherExpense}}</td>
                                <td width="8%">{{costCenter.totalExpenditure}}</td>
                                <!--<td width="10%">{{costCenter.status}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-md-12">
                        <div>
                            <h3>Segment Budget = {{costCenterData[0].SegmentsTotalBudgetAllocated}}
                                <a ui-sref="Process.modifyCostCenter({projectName:projectName,segmentBudget:costCenterData[0].SegmentBudgetDetails,materialBudget:costCenterData[0].MaterialBudgetDetails})"> <button class="btn btn-info">Modify Budget</button></a>
                            </h3>
                        </div>
                        <!--table start-->
                        <div class="col-md-8" style="padding-left:0px;">
                            <table class="table datatable">
                                <thead style="text-align: center;">
                                <tr style="text-align: center;">
                                    <th width="10%" style="text-align: center;">Segment Name</th>
                                    <th width="10%" style="text-align: center;">Budget Allocated</th>
                                    <!--<th width="5%" style="text-align: center;">Status</th>-->

                                </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                <tr style="text-align: center;" ng-repeat="segmentWiseBudget in costCenterData[0].SegmentBudgetDetails">
                                    <td width="10%">{{segmentWiseBudget.segmentname}}</td>
                                    <td width="10%">{{segmentWiseBudget.allocatedbudget}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div>
                            <h3>Material Budget = {{costCenterData[0].MaterialsTotalBudgetAllocated}}</h3>
                        </div>
                        <!--table start-->
                        <div class="col-md-12" style="padding-left:0px;">
                            <table class="table datatable">
                                <thead style="text-align: center;">
                                <tr style="text-align: center;">
                                    <th width="10%" style="text-align: center;">Material Name</th>
                                    <th width="10%" style="text-align: center;">Budget Allocated</th>
                                    <th width="5%" style="text-align: center;">TotalMaterialExpense</th>

                                </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                <tr style="text-align: center;" ng-repeat="materialWiseBudget in costCenterData[0].MaterialBudgetDetails">
                                    <td width="10%">{{materialWiseBudget.productname}}</td>
                                    <td width="10%">{{materialWiseBudget.allocatedbudget}}</td>
                                    <td width="10%">{{getTotalMaterialExpense(materialWiseBudget.materialid,costCenterData[0])}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--table end-->
                    <uib-accordion>
                        <uib-accordion-group heading="Material Expense Details = {{costCenterData[0].materialExpense}}" ng-show="expenseDetails[0].materialExpenseDetails.length>0">
                            <table class="table table-actions table-striped tableScrollable">
                                <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Material Name</th>
                                    <th>Expense</th>
                                    <th>Description</th>
                                    <th>Bill No</th>
                                    <th >Bill Amount</th>
                                    <th >Bill Issued By</th>
                                    <th >Bill Date</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="materialExpense in expenseDetails[0].materialExpenseDetails">
                                    <td>{{$index + 1}}</td>
                                    <td>{{materialExpense.material}}</td>
                                    <td >{{materialExpense.amountMaterialExpenseDetails}}</td>
                                    <td >{{materialExpense.descriptionMaterialExpenseDetails}}</td>
                                    <td >{{materialExpense.billNo}}</td>
                                    <td >{{materialExpense.billAmount}}</td>
                                    <td >{{materialExpense.billissueingentity}}</td>
                                    <td >{{materialExpense.dateofbill}}</td>

                                </tr>

                                </tbody>

                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                    <uib-accordion>

                        <uib-accordion-group ng-show="{{getTotalSegmentExpense(segmentExpense.SegmentExpense)}}>0"  heading="{{segmentExpense.segmentName}} Segment -   TotalExpense: {{getTotalSegmentExpense(segmentExpense.SegmentExpense)}}" ng-repeat="segmentExpense in expenseDetails[0].SegmentExpenseDetails">

                            <table class="table table-actions table-striped">
                                <thead>
                                <tr>
                                    <th >Sr.No</th>
                                    <th >Segment Name</th>
                                    <th >Expense</th>
                                    <th >Description</th>
                                    <th>Bill No</th>
                                    <th >Bill Amount</th>
                                    <th >Bill Issued By</th>
                                    <th >Bill Date</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="expense in segmentExpense.SegmentExpense">
                                    <td >{{$index + 1}}</td>
                                    <td>{{expense.segmentName}}</td>
                                    <td >{{expense.amountExpenseDetails}}</td>
                                    <td >{{expense.descriptionExpenseDetails}}</td>
                                    <td >{{expense.billNo}}</td>
                                    <td >{{expense.billAmount}}</td>
                                    <td >{{expense.billissueingentity}}</td>
                                    <td >{{expense.dateofbill}}</td>

                                </tr>

                                </tbody>

                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                <!-- END DATATABLE EXPORT -->

                <!-- Accordian-->




            </div>
        </div>
    </div>
</div>