
<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>

<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>Task</strong> Details </h3>

        </div>
        <div class="panel-body">

            <!--Form Starts here-->
            <form class="form-horizontal">


                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Task Name :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group" >
                                {{ViewTask.task_name}}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Description :</label>
                            </div>
                            <div class="col-md-8">
                                {{ViewTask.task_desc}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Actual Start Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-disabled="ViewTask.task_isCompleted==1"  class="form-control" name="actualStartDate" ng-model="actualStartDate" ng-click="taskStartDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="taskStart.opened" datepicker-options="dateOptions"  show-button-bar="false" readonly/>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Actual End Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-disabled="ViewTask.task_isCompleted==1" class="form-control" name="actualEndDate" ng-model="actualEndDate" ng-click="taskEndDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="taskEnd.opened" datepicker-options="dateOptions"  show-button-bar="false" readonly/>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Completion Percentage :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" ng-change="checkPercentage()" ng-disabled="ViewTask.task_isCompleted==1" name="taskCompletionP" ng-model="taskCompletionP"/>
                                </div>

                            </div>
                        </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-6">
                                    <div class="input-group">
                                        <input type="checkbox"  ng-disabled="ViewTask.task_isCompleted==1" ng-change="setTaskCompletionPercentage()" ng-model="completed" ng-true-value="'1'" ng-false-value="'0'" name="completed" >  Mark This Task As Completed
                                    </div>
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Note :</label>
                            </div>
                            <div class="col-md-8">

                                      <textarea ng-disabled="ViewTask.task_isCompleted==1" class="form-control" name="note"
                                                ng-model="note" rows="2" required>
                                    </textarea>
                               <!-- <div class="help-block"
                                     ng-messages="customerModifyForm.customerEmailId.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Email Id is required</span>
                                    <span style="color:red" ng-message="email">Enter Valid Email Id</span>
                                </div>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">

                                      <button class="btn btn-primary" ng-disabled="ViewTask.task_isCompleted==1  " ng-click="note!='' && updateTask(ViewTask.task_id)"> Add</button>
                                      <!--<button class="btn btn-primary"> Cancel</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Scheduled Start Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    {{ViewTask.task_startDate}}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Scheduled End Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    {{ViewTask.task_endDate}}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="input-group" >
                                   <h1 ng-show="ViewTask.task_isCompleted==1"> Task has been completed!!!!</h1>
                                </div>

                            </div>
                        </div>
                    </div>

                </div><br>


                <div class="row">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width=7%>Sr No</th>
                            <th width=20%>Note</th>
                            <th width=23%>Added By</th>
                            <th width=15%>Date</th>
                        </tr>
                        </thead>
                        <tr ng-repeat = "note in ViewNotes">
                            <td>{{$index+1}}</td>
                            <td>
                                {{note.Note}}
                            </td>
                            <td>
                                {{note.AddedBy}}
                            </td>

                            <td>
                                   {{note.NoteDate}}
                            </td>

                        </tr>

                    </table>

                </div><br>

            </form>
            <!--End of Form-->
        </div>


    </div>

</div>