<div class="modal-header">

    <h4 class="modal-title">Followup Conduction </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <!--Start of form section-->
            <div class="panel panel-default">
                <!--End of form heading section-->

                <div class="panel-body">
                    <form name="followupForm" class="form-horizontal" novalidate>

                        <!--Start of form container row-->
                        <div class="row">

                            <!--start-->
                            <div class="form-group">
                                <label class="col-md-3  control-label">Followup Title : </label>
                                <div class="col-md-7">
                                    <div class="input-group" style="margin-top:8px">

                                        <label value="">{{payment.followupTitle}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3  control-label">Followup Date : </label>
                                <div class="col-md-7">
                                    <div class="input-group" style="margin-top:8px">

                                        <label value="12/12/2016">{{payment.followupDate}}</label>
                                    </div>
                                </div>
                            </div>
                            <!--end-->

                            <!--start-->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Followup Conduction Date : </label>

                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="date" class="form-control datepicker" ng-model="payment.startDate"
                                               name="date" required>
                                    </div>
                                </div>
                                <div class="help-block" ng-messages="followupForm.date.$error">
                                <p style="color:red" ng-message="required">Conduction Date cannot be blank</p>

                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-3 control-label">Note : </label>
                                <div class="col-md-4 ">
                                    <textarea name="note" class="form-control" rows="2" ng-model="payment.note" required></textarea>
                                    <span class="help-block"></span>
                                </div>

                            </div>
                            <div class="help-block" ng-messages="followupForm.note.$error">
                                <p style="color:red" ng-message="required">Note cannot be blank</p>

                            </div>
                            <!--end-->

                            <!--start-->

                            <div class="form-group">
                                <label class="col-md-3  control-label">Reschedule Followup : </label>
                                <div class="col-md-7">
                                    <div class="input-group col-md-8">
                                        <label class="check">
                                            <input type="checkbox" class="mycheck" ng-model="payment.isRescheduleFollowup"/> Check this to reschedule followup</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end-->

                    <div class="row" id="paymentmode" ng-show="payment.isRescheduleFollowup">
                        <!--start-->
                        <form name="rescheduleFollowup" class="form-horizontal" novalidate>
                            <div class="form-group">
                                <label class="col-md-3  control-label">Followup Title : </label>
                                <div class="col-md-7">
                                    <div class="input-group col-md-8">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text"  name="title"  ng-model="payment.newFollowupTitle" class="form-control" required/>
                                    </div>
                                    <div class="help-block" ng-messages="rescheduleFollowup.title.$error">
                                    <p style="color:red" ng-message="required">Title cannot be blank</p>

                                    </div>
                                </div>

                            </div>
                            <!--end-->

                            <!--start-->
                            <div class="form-group">
                                <label class="col-md-3  control-label">Assigned To : </label>
                                <div class="col-md-7">
                                    <div class="input-group col-md-8">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <select class="btn dropdown-toggle selectpicker btn-default" ng-model="payment.assignee" name="assignee">                                               name="followupEmployeeId" required>
                                            <option value="" disabled selected>Select Employee Id</option>
                                            <option ng-repeat="x in users"
                                                    value={{x.id}}>{{x.name}}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="help-block" ng-messages="rescheduleFollowup.assignee.$error" >
                                    <p style="color:red" ng-message="required">Assigned To cannot be blank</p>

                                    </div>
                                </div>
                            </div>
                            <!--end-->

                            <!--start-->
                            <div class="form-group">
                                <label class="col-md-3  control-label">Followup Date : </label>
                                <div class="col-md-7">
                                    <div class="input-group col-md-8">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input  type="date" name="date" ng-model="payment.dateOfBill" type="text" class="form-control datepicker" required/>
                                    </div>
                                    <div class="help-block" ng-messages="rescheduleFollowup.date.$error">
                                    <p style="color:red" ng-message="required"> Followup Date cannot be blank</p>

                                    </div>
                                </div>
                            </div>
                            <!--end-->
                        </form>

                    </div>
                    <!--End of form container row-->

                </div>
                <!--End of form section-->
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="Save()">Submit</button>
    <button type="button" class="btn btn-default"
            ng-click="Cancel()">Cancel</button>
</div>