<div id="container" style="height: 300px;margin-top: 30px">


</div>
<div>

    <div  id="criticalStockDiv" class="table-responsive push-up-10">
        <table  class="table table-actions table-striped">
            <thead >
            <tr style="text-align: center;">
                <th  class="tablehead">Sr.no</th>
                <th  class="tablehead">Product Name</th>
                <th  class="tablehead">Available Quantity</th>
                <th  class="tablehead">Alert Level</th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center;" ng-repeat="product in criticalStock.criticalMaterial | filter:paginateCriticalMaterial">
                <td>{{$index+1}}</td>
                <td>{{product.productname}}</td>
                <td>{{product.totalquantity}}</td>
                <td>{{product.alertquantity}}</td>

            </tr>


            </tbody>
        </table>
        <uib-pagination total-items="criticalStock.criticalMaterial.length" ng-model="currentPage"
                        boundary-links="true"
                        items-per-page="CriticalMaterialPerPage" class="pagination-sm">

        </uib-pagination>
    </div>
    <div id="availableStockDiv" class="table-responsive push-up-10">
        <table  class="table table-actions table-striped">
            <thead >
            <tr style="text-align: center;">
                <th  class="tablehead">Sr.no</th>
                <th  class="tablehead">Product Name</th>
                <th  class="tablehead">Available Quantity</th>
                <th  class="tablehead">Alert Level</th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center;" ng-repeat="product in criticalStock.availableMaterial | filter:paginateavailableMaterial">
                <td>{{$index+1}}</td>
                <td>{{product.productname}}</td>
                <td>{{product.totalquantity}}</td>
                <td>{{product.alertquantity}}</td>

            </tr>


            </tbody>
        </table>
        <uib-pagination total-items="criticalStock.availableMaterial.length" ng-model="currentPage"
                        boundary-links="true"
                        items-per-page="availableMaterialPerPage" class="pagination-sm">

        </uib-pagination>
    </div>
</div>