 <div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" name="inwardTransportDetailsForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><strong>Inward Details</strong></h4>
                </div>

                <div class="panel-body">
                    <h5>Transport</h5>
                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Mode of Transport</label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="InwardData.transportMode" name="transportMode" required>
                                        <option value="" disabled selected>Select Transport Mode</option>
                                        <option ng-repeat="x in transportMode"
                                                value={{x.transportId}}>{{x.transport}}
                                        </option>
                                    </select>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.transportMode.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please select transport mode.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Vehicle Number</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" ng-model="InwardData.vehicleNumber" name="vehicleNumber" required/>
                                    </div>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.vehicleNumber.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter vehicle number.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Transport Cost</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="number" class="form-control" ng-model="InwardData.transportCost" name="transportCost" required/>
                                    </div>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.transportCost.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter transport cost.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Remark</label>
                                <div class="col-md-9 col-xs-12">
                                    <textarea class="form-control" rows="5" ng-model="InwardData.transportRemark" name="transportRemark" required></textarea>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.transportRemark.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter transport remark.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Transport Agency</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" ng-model="InwardData.transportAgency" name="transportAgency" required/>
                                    </div>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.transportAgency.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter transport agency.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Driver</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" ng-model="InwardData.driver" name="driver" required/>
                                    </div>
                                    <div class="help-block" ng-messages="inwardTransportDetailsForm.driver.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter driver name.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="panel-footer" style="text-align:center">
                    <button class="btn btn-default" ng-click="prevStep()">Previous</button>
                    <button class="btn btn-primary" value="clear" data-ng-click="clearFields(InwardData)">Clear Form</button>
                    <button class="btn btn-primary" value="submit" data-ng-click="(submitted=true) && inwardTransportDetailsForm.$valid" data-target="#viewEnteredDetails" data-toggle="modal">Submit</button>

                </div>

        </div>

        </form>

    </div>

    <style>
        .pt12{
            padding-top: 12px;
        }
        .pt7{
            padding-top: 7px;
        }
    </style>
    
    
    <div class="modal fade inventoryDetails" id="viewEnteredDetails" role="dialog">
        <div class="modal-dialog">                                 
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please confirm all the  Inward Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 padRight">
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Inward Number :</label>
                                    <div class="col-md-8 pt7">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" name="inwardNumber" ng-model="InwardData.inwardNumber" value="{{InwardData.inwardNumber}}"/>
                                        </div>                                          
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Material :</label>
                                    <div class="col-md-8 pt7">
                                        <select class="form-control" disabled ng-model="InwardData.material">
                                            <option ng-repeat="x in productsToModify" value={{x.materialid}}>{{x.productname}}
                                            </option>
                                        </select>                                          
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Package Qty :</label>
                                    <div class="col-md-8 pt7">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.packageUnit" value="{{InwardData.packageUnit}}"/>
                                        </div>                       
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Company :</label>
                                    <div class="col-md-8 pt7">
                                        <select class="form-control" disabled ng-model="InwardData.companyName">
                                        <option ng-repeat="x in Company" 
                                            value={{x.companyId}}>{{x.companyName}}
                                        </option>
                                    </select>                       
                                    </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Supplier :</label>
                                    <div class="col-md-8 pt7">
                                        <select class="form-control select" disabled ng-model="InwardData.suppplierName" ng-value="Select">
                                            <option ng-repeat="x in suppliers " value={{x.supplierid}}>{{x.suppliername}}
                                            </option>  
                                        </select>                       
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Date :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.date" value="{{InwardData.date}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Quantity :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.materialQuantity" value="{{InwardData.materialQuantity}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Warehouse :</label>
                                    <div class="col-md-8 pt7">
                                         <select class="form-control" disabled ng-model="InwardData.warehouseName">
                                            <option ng-repeat="x in warehouses" value={{x.warehouseId}}>{{x.warehouseName}}
                                            </option>
                                        </select>                      
                                    </div>
                            </div>      
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Supervisor :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.suppervisor" value="{{InwardData.suppervisor}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Transport :</label>
                                    <div class="col-md-8 pt7">
                                        <select class="form-control" disabled ng-model="InwardData.transportMode">
                                            <option ng-repeat="x in transportMode" value={{x.transportId}}>{{x.transport}}
                                            </option>
                                        </select>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Vehicle Number :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.vehicleNumber" value="{{InwardData.vehicleNumber}}" />
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Transport Cost :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.transportCost" value="{{InwardData.transportCost}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Remark :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.transportRemark" value="{{InwardData.transportRemark}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Transport Agency :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.transportAgency" value="{{InwardData.transportAgency}}"/>
                                        </div>                      
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label text-left pt12">Driver :</label>
                                    <div class="col-md-8 pt7">
                                         <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" disabled class="form-control" ng-model="InwardData.driver" value="{{InwardData.driver}}"/>
                                        </div>                      
                                    </div>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" data-ng-click="addInwardDetails()" data-dismiss="modal" class="btn btn-default">Submit</button>
                    
                </div>
                <!--End of modal-footer-->
            </div>
            <!--End of Modal Content-->           
        </div>
    </div>

</div>
