<div class="row" ng-controller="addMaterialType">
    <div>
        <div ng-include="'utils/loader.html'"></div>
    </div>
    <div>
        <div ng-include="'utils/ErrorMessage.html'"></div>
    </div>
    <div>
        <div ng-include="'utils/WarningMessage.html'"></div>
    </div>
                <div class="col-md-6" >

                    <form class="form-horizontal" name="materialTypeAdd" novalidate>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Add Material Type</strong></h3>
                            </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Number of material types to be Added</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="number" name="noOfMat"  ng-model="noOfMaterials" class="form-control"/>
                                    </div>
                                    
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <button class="btn btn-primary pull-right"  ng-click="addFields()" style="margin-right: 5px;" >Add</button>
                                </div>
                            </div>

                            <div class="fixed-section">
                            <div class="form-group" ng-repeat="mat in materialType">
                                <!-- <span>{{$index+1}}</span> -->
                                <label class="col-md-3 col-xs-12 control-label">Material Type</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="input-group">
                                    
                                        <span class="input-group-addon"><span class="fa fa-cube"></span></span>
                                        <input type="text"  name="materialType"  ng-model="mat.type" class="form-control" required/>


                                    </div>

                                    <div class="help-block" ng-messages="materialTypeAdd.materialType.$error" ng-show="submitted">
                                        <p style="color:red" ng-message="required">Please enter material type</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <ul class="panel-controls">
                                        <li><a ng-click="addField()" class="panel-remove"><span class="fa fa-plus"></span></a></li>
                                    </ul>

                                    <ul class="panel-controls">
                                        <li><a ng-click="remove($index)" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>

                            </div>
                            </div>



                        </div>
                        <div class="panel-footer" style="text-align: center;">
                            <button class="btn btn-default" type="Clear" ng-click="clear()">Clear Form</button>
                            <button class="btn btn-primary"  ng-click="(submitted=true) && sizeCheck() && materialTypeAdd.$valid && submit(materialType)" >Submit</button>
                        </div>


                    </div>
                    </form>

                </div>

                <div class="col-md-6" >
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Existing Material Type</strong></h3>
                    </div>
                        <div class="panel-body">
                            <div class="row" style="margin-top: 3%">
                                <p style="color:red" ng-if="getNoOfMaterials()==0">Please add atleast one material</p>
                                <table class="table table-actions table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="10%">Sr. No</th>
                                        <th width="60%">Material Type</th>
                                        <th width="30%">Actions</th>

                                    </tr>
                                    </thead>
                                    <tr ng-repeat="materialType in fetchedMaterialTypes | filter : paginate">
                                    <td width="10%">
                                        {{$index+1}}
                                    </td>
                                    <td width="60%">
                                        <input  type="text" class="form-control" ng-model="materialType.materialtype"
                                                 min="1" required style="width:100%"/>
                                    </td>

                                    <td width="30%">
                                        <button ng-click="modifyMaterialtype(materialType,$index)" data-toggle="modal"
                                                class="btn btn-info btn-sm"><span class="fa fa-floppy"></span>Modify</button>
                                        <button ng-click="deleteMaterialType(materialType)" data-toggle="modal"
                                                class="btn btn-info btn-sm"><span class="fa fa-floppy"></span>Delete</button>
                                    </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        </div>
                    <uib-pagination total-items="length" ng-model="currentPage"
                                    max-size="10" boundary-links="true"
                                    items-per-page="materialTypePerPage" class="pagination-sm">
                    </uib-pagination>
                </div>

</div>
    
