<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><strong>Configure</strong> Holidays</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" name="configureHolidaysForm" novalidate>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Current Year :</label>
                            </div>
                            <div class="col-md-9">

                                {{configureHoliday.caption_of_year}}

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Start Date :</label>
                            </div>
                            <div class="col-md-9">

                                {{configureHoliday.from_date}}

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">End Date :</label>
                            </div>
                            <div class="col-md-9">

                                {{configureHoliday.to_date}}

                            </div>
                        </div>
                    </div>
                  </div><br>
                    <div class="row">

                        <h3 class="panel-title"><strong>Add</strong> Holiday</h3>

                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Holiday Date :</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="holidayDate" ng-model="configureHoliday.holidayDate" ng-click="pickHolidayDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="holidayDate.opened" datepicker-options="dateOptions" show-button-bar="false"  ng-required="true" readonly/>
                                    </div>
                                    <div class="help-block" ng-messages="configureHolidaysForm.holidayDate.$error" ng-show="formSubmitted">
                                        <span style="color:red" ng-message="required">Holiday Date is required..</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Description :</label>
                                </div>
                                <div class="col-md-9">

                                    <textarea class="form-control" name="Description" ng-model="configureHoliday.description" rows="2" required>
                                    </textarea>
                                    <div class="help-block" ng-messages="configureHolidaysForm.Description.$error" ng-show="formSubmitted">
                                        <span style="color:red" ng-message="required">Holiday Description is required..</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-offset-10 col-md-2">

                                    <button class="btn btn-danger" data-ng-click="(formSubmitted=true) && configureHolidaysForm.$valid &&addHoliday()">Add</button>

                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">

                        <h3 class="panel-title"><strong>List of</strong> Holidays</h3>

                    </div><br>
                    <div class="row">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Holiday Date</th>
                                <th>Description</th>
                                <th>Created By</th>
                                <th>Creation Date</th>
                                <th>Remove</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="holiday in holidaysList">
                                <td>{{$index+1}}</td>
                                <td>{{holiday.holiday_date}}</td>
                                <td>
                                    {{holiday.description}}
                                </td>
                                <td>{{holiday.created_by}}</td>

                                <td>
                                    {{holiday.creation_date}}
                                </td>
                                <td>
                                    <a ng-click="removeHoliday($index,holiday.holiday_date)" class="panel-remove">
                                        <span class="fa fa-times"></span>
                                    </a>
                                </td>

                            </tr>


                         </tbody>
                        </table>

                    </div>

                </form>


            </div>

        </div>


    </div>

</div>