<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>

<div class="row">

    <div class="col-lg-12 col-md-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Create <strong>Year</strong></h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" name="createYearForm">
                    <div class="row">
                    <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3">
                            <label class="control-label">Caption :</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" name="caption" ng-model="yearDetails.caption" pattern="^[a-zA-Z0-9]+$" required/>
                            </div>
                            <div class="help-block" ng-messages="createYearForm.caption.$error" ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">Caption is required..</span>
                                <span style="color:red" ng-message="pattern">Alphanumeric characters are allowed..</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3">
                            <label class="control-label">Start Date :</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control" name="startDate" data-ng-click="openStartYearDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="yearDetails.startDate" show-weeks="false" is-open="popup1.opened" datepicker-options="dateOptions" show-button-bar="false" required readonly/>
                            </div>
                            <div class="help-block" ng-messages="createYearForm.startDate.$error" ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">Start Date is required..</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3">
                            <label class="control-label">End Date :</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control" name="endDate" data-ng-click="openEndYearDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="yearDetails.endDate" show-weeks="false" is-open="popup2.opened" datepicker-options="dateOptions" show-button-bar="false" required readonly/>
                            </div>
                            <div class="help-block" ng-messages="createYearForm.endDate.$error" ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">End Date is required..</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3">
                            <label class="control-label">No of Paid leaves :</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" name="paidLeaves" ng-model="yearDetails.paidLeaves" pattern="^[0-9]+$" required/>
                            </div>
                            <div class="help-block" ng-messages="createYearForm.paidLeaves.$error" ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">Number of paid leaves is required..</span>
                                <span style="color:red" ng-message="pattern">Only Digits are allowed..</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12">
                            <input type="checkbox" ng-model="yearDetails.weeklyOff" name="weeklyoff"> Weekly off
                        </div>

                    </div>
                        <div class="form-group" ng-if="yearDetails.weeklyOff">
                            <div class="col-lg-3 col-md-3">
                                <label class="control-label">Select Day :</label>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                    <select class="form-control select" name="weeklyoffDay" ng-model="yearDetails.weeklyoffDay" required />
                                    <option value="" disabled selected>Choose day..</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                    </select>
                                <div class="help-block" ng-messages="createYearForm.weeklyoffDay.$error" ng-show="yearDetails.weeklyOff && formSubmitted">
                                    <span style="color:red" ng-message="required">Weekly Off is required..</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                </form>


            </div>
            <div class="panel-footer">

                <button class="btn btn-default pull-left">Clear Form</button>
                <button class="btn btn-danger pull-right" data-ng-click="(formSubmitted=true) && createYearForm.$valid &&  createYear()">Create</button>
                <button class="btn btn-default pull-right">Cancel</button>
            </div>
            <!--End of buttons section-->
        </div>


     </div>

</div>