<div class="page-content-wrap">

    
    <div class="row">
        <div class="col-md-12" >
            
            <form class="form-horizontal"  name="prodBatchInitForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Production Batch Initialisation</strong></h3>
                        <ul class="panel-controls">
                            <li><a data-dismiss="modal" ng-click="reset()" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Production Batch Number</label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input name="prodBatchNo" type="text" ng-model="modProdBatchInfo.batchNo"  class="form-control" required/>
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.prodBatchNo.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter production batch number</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Production Code Name</label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" name="batchCodeName" ng-model="modProdBatchInfo.batchCodeName" class="form-control" required/>
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.batchCodeName.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter production code name</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Date of Entry </label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group" >
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" id="dateOfEntry"
                                           name="dateOfEntry" class="form-control date"  ng-model="modProdBatchInfo.dateOfEntry" required
                                           data-date-format="dd-mm-yyyy">
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.dateOfEntry.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter date of entry</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Production start date</label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group" >
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" name="productionStartDate"  class="form-control datepicker" ng-model="modProdBatchInfo.startDate" required  data-date-format="dd-mm-yyyy">
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.productionStartDate.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter production start date</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Production End date </label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group" >
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" name="productionEndDate"  class="form-control date" ng-model="modProdBatchInfo.endDate" required data-date-format="dd-mm-yyyy">
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.productionEndDate.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter production end date</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Production Supervisor</label>
                            <div class="col-md-4 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" name="productionSupervisor" ng-model="modProdBatchInfo.supervisor" class="form-control" required/>
                                </div>
                                <div class="help-block" ng-messages="prodBatchInitForm.productionSupervisor.$error" ng-show="submitted">
                                    <p style="color:red" ng-message="required">Please enter production supervisor name</p>
                                </div>
                            </div>
                        </div>
                        
                        <ul>
                            <li ng-repeat="msg in messages"> {{msg}} </li>
                        </ul> 
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" type="Clear" ng-click="(submitted = false) && clear('Init')">Clear Form</button>
                        <button class="btn btn-primary pull-right"  ng-click="(submitted = true) && prodBatchInitForm.$valid && initProd(modProdBatchInfo,'Init')">Next</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>                    
    
</div>