<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">

        <!-- START SEARCH -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row stacked">
                    <div class="col-lg-6 col-md-6">
                        <div class="input-group push-down-10">
                            <span class="input-group-addon"><span class="fa fa-search"></span></span>
                            <input type="text" class="form-control" placeholder="Keywords..." value=""
                                   ng-model="prodBatchInfo.Keywords"/>

                            <div class="input-group-btn">
                                <button class="btn btn-primary" ng-click="initProd(prodBatchInfo,'Search','Inquiry')">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH -->

        <!-- START SEARCH RESULT -->
        <div class="search-results">


            <div class="sr-item">
                <div class="sr-item-title">Production Batch</div>


                <div class="table-responsive push-up-10">
                    <table class="table table-actions table-striped">
                        <!--<th style="padding:5px;"ead>                                            -->
                        <tr>
                            <th style="padding:5px;" width="5%">Sr no.</th>
                            <th style="padding:5px;" width="20%">
                                <a ng-click="sortType = 'prodBatch.batchNo'; sortReverse = !sortReverse">Production Batch code
                                    <span ng-show="sortType == 'prodBatch.batchNo' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'prodBatch.batchNo' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                                </th>
                            <th style="padding:5px;" width="25%">
                                <a ng-click="sortType = 'prodBatch.batchCodeName'; sortReverse = !sortReverse">Production Batch Name
                                    <span ng-show="sortType == 'prodBatch.batchCodeName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'prodBatch.batchCodeName' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                                </th>
                            <th style="padding:5px;" width="10%">Start date</th>
                            <th style="padding:5px;" width="10%">End date</th>
                            <th style="padding:5px;" width="30%">Actions</th>
                        </tr>
                        <!--</th>-->
                        </thead>
                        <tbody>
                        <tr ng-repeat="prodBatch in prodInq | filter:paginate | orderBy:sortType:sortReverse">
                            <td>{{$index + 1}}</td>
                            <td>{{prodBatch.batchNo}}</td>
                            <td>{{prodBatch.batchCodeName}}</td>
                            <td>{{prodBatch.startDate}}</td>
                            <td>{{prodBatch.endDate}}</td>
                            <td>
                                <!-- <button data-target="#viewProductInfo" ng-click="getProdInfo(prodBatch)" data-toggle="modal"  class="btn btn-primary btn-sm"><span class="fa fa-eye"></span> View</button> -->

                                <!-- <button href="/inventory_Production_Batch.html"  class="btn btn-primary btn-sm"><span class="fa fa-eye"></span> View</button> -->


                                <button ng-disabled="prodBatch.endDate > today" ng-click="getProdInfo(prodBatch,$index)"
                                        data-target="#completeProdInfo" data-toggle="modal"
                                        class="btn btn-info btn-sm"><span class="fa fa-pencil-square-o"></span>Complete
                                    Production
                                </button>

                                <button disabled ng-click="getProdInfo(prodBatch)" data-target="#modifyProdInfo"
                                        data-toggle="modal"
                                        class="btn btn-info btn-sm"><span class="fa fa-pencil-square-o"></span>Modify
                                </button>


                                <!-- <button class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Delete</button></td> -->
                        </tr>


                        </tbody>
                    </table>
                </div>
                <!--  <ul class="list-tags">
                     <li><a href="#"><span class="fa fa-tag"></span> Files</a></li>
                     <li><a href="#"><span class="fa fa-tag"></span> Attachments</a></li>
                 </ul> -->
            </div>


        </div>
        <!-- END SEARCH RESULT -->

        <uib-pagination total-items="prodInq.length" ng-model="currentPage"
                        max-size="10" boundary-links="true"
                        items-per-page="prodBatchPerPage" class="pagination-sm">
        </uib-pagination>

    </div>
</div>

<div class="modal fade" id="modifyProdInfo" role="dialog">

    <div class="modal-dialog modal-lg" style="width:90% !important">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Production Batch Details</strong></h3>
                    <ul class="panel-controls">
                        <li><a data-dismiss="modal" ng-click="reset()" class="panel-remove"><span
                                class="fa fa-times"></span></a></li>
                    </ul>
                </div>


            </div>
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Production Batch Number</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input disabled name="prodBatchNo" type="text"
                                               ng-model="modProdBatchInfo.batchNo" class="form-control" required/>
                                    </div>
                                    <!--    <span class="help-block" ng-show="prodBatchInitForm.prodBatchNo.$error" ng-if="submitted" >this field is mandatory</span>  -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Production Code Name</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" ng-model="modProdBatchInfo.batchCodeName"
                                               class="form-control"/>
                                    </div>
                                    <!-- <span class="help-block">This is sample of text field</span>-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Date of Entry </label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input disabled type="text" id="dateOfEntry"
                                               name="dateOfEntry" class="form-control date"
                                               ng-model="modProdBatchInfo.dateOfEntry" required
                                               data-date-format="dd-mm-yyyy">
                                        <!-- data-provide="datepicker"                                             -->
                                    </div>
                                    <!-- <span class="help-block" ng-show="prodBatchInitForm.">Click on input field to get datepicker</span>  -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Production start date</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control date"
                                               ng-model="modProdBatchInfo.startDate" required
                                               data-date-format="dd-mm-yyyy">
                                        <!-- data-provide="datepicker"                                             -->
                                    </div>
                                    <!-- <span class="help-block">Click on input field to get datepicker</span> -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Production End date </label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control date" ng-model="modProdBatchInfo.endDate"
                                               required data-date-format="dd-mm-yyyy">
                                        <!-- data-provide="datepicker"                                        -->
                                    </div>
                                    <!-- <span class="help-block">Click on input field to get datepicker</span> -->
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Production Supervisor</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" ng-model="modProdBatchInfo.supervisor" class="form-control"/>
                                    </div>
                                    <!-- <span class="help-block">This is sample of text field</span>-->
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">

                            <div class="col-md-10">
                                <div class="col-md-6">
                                    <label class=" control-label">Number of material to be Added</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="number" name="noOfMat" ng-model="modProdBatchInfo.noOfMaterials"
                                               class="form-control"/>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary pull-right" ng-click="addFields('Modify')"
                                        style="margin-right: 5px;">Add
                                </button>
                            </div>


                            <div style="margin-top: 3%;" class="col-md-12"
                                 ng-repeat="rawMat in modProdBatchInfo.rawMaterial">

                                <div class="col-md-5">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Material</label>

                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <!-- try -->
                                                <select style="width: 101%;"
                                                        class="btn dropdown-toggle selectpicker btn-default"
                                                        ng-model="rawMat.material">

                                                    <option ng-repeat="x in existingMaterials"
                                                            value={{x.materialid}}>{{x.productname}}
                                                    </option>
                                                </select>

                                                <!--           <!-- try end -->
                                                <!--  <input style="width: 66%;" type="text" ng-model="rawMat.material"class="form-control"/> -->
                                            </div>
                                            <!-- <span class="help-block">This is sample of text field</span> -->
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-5">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Quantity</label>

                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input type="text" ng-model="rawMat.quantity" class="form-control">

                                            </div>
                                            <!--      <span class="help-block">Click on input field to get datepicker</span> -->
                                        </div>

                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <ul class="panel-controls">
                                        <li><a ng-click="addField('Modify')" class="panel-remove"><span
                                                class="fa fa-plus"></span></a></li>
                                    </ul>

                                    <ul class="panel-controls">
                                        <li><a ng-click="remove($index,'Modify')" class="panel-remove"><span
                                                class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>

                            </div>


                        </div>
                    </form>

                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" ng-click="clear('Raw')">Clear Form</button>

                <button class="btn btn-primary pull-right" ng-click="initProd(modProdBatchInfo,'Raw','ModifyPart')">
                    Submit
                </button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="completeProdInfo" role="dialog" data-backdrop="static" keyboard="false">


    <div class="modal-dialog" style="width:67%">
        <div class="modal-content">
            <div class="col-md-12">

                <form class="form-horizontal" name="prodBatchOutwardForm" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Material Produced</strong></h3>
                            <ul class="panel-controls">
                                <li><a data-dismiss="modal" class="panel-remove"><span class="fa fa-times"></span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-body">


                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Material Produced</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                <select style="width:217%;margin: 0;"
                                                        class="btn dropdown-toggle selectpicker btn-default"
                                                        name="materialProduced"
                                                        ng-model="modProdBatchInfo.prodcdMaterial" required>
                                                    <option value="" disabled selected>Select</option>
                                                    <option ng-repeat="x in existingMaterials"
                                                            value={{x.materialid}}>{{x.productname}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.materialProduced.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please select material
                                                    produced</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Quantity</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="11" type="text" name="quantity"
                                                       ng-model="modProdBatchInfo.quantityProdMat" class="form-control"
                                                       required/>
                                            </div>
                                            <div class="help-block" ng-messages="prodBatchOutwardForm.quantity.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter quantity</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Packaged Unit</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="11" type="text" name="packagedUnit"
                                                       ng-model="modProdBatchInfo.pckgdUnits" class="form-control"
                                                       required/>
                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.packagedUnit.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter packaged
                                                    unit</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-5 control-label"> Company</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <select style="width:160%;margin: 0;"
                                                        class="btn dropdown-toggle selectpicker btn-default"
                                                        ng-model="modProdBatchInfo.company" name="companyName"
                                                        required>
                                                    <option value="" disabled selected>Select Company</option>
                                                    <option ng-repeat="x in Company"
                                                            value={{x.companyId}}>{{x.companyName}}
                                                    </option>
                                                </select>
                                            </div>


                                            <div class="help-block" ng-messages="prodBatchOutwardForm.company.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please select company
                                                    name.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Warehouse</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <select style="width:149%;margin: 0;"
                                                        class="btn dropdown-toggle selectpicker btn-default"
                                                        ng-model="modProdBatchInfo.wareHouse"
                                                        name="warehouseName" required>
                                                    <option value="" disabled selected>Select Warehouse</option>
                                                    <option ng-repeat="x in warehouses"
                                                            value={{x.warehouseId}}>{{x.wareHouseName}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="help-block" ng-messages="prodBatchOutwardForm.wareHouse.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please select warehouse.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Date of Entry </label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-calendar"></span></span>
                                                <input readonly type="text" name="dateOfEntry" class="form-control"
                                                       ng-model="modProdBatchInfo.dateOfEntryAftrProd"
                                                       ng-click="prodDOE()" uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                                                       show-weeks="false" is-open="dateOfEntry.opened"
                                                       datepicker-options="dateOptions" show-button-bar="false"
                                                       ng-required="true"/>
                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.dateOfEntry.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter date</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Transportation Required ?</label>

                                        <div class="col-md-7">

                                            <label class="check"><input type="checkbox" class="icheckbox" name="tranReq"
                                                                        ng-model="modProdBatchInfo.tranReq"/> </label>

                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-6" ng-show="modProdBatchInfo.tranReq == true">

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Mode of Transportation</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="25" type="text" name="modeOfTransport"
                                                       ng-model="modProdBatchInfo.modeOfTransport"
                                                       class="form-control"/>
                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.modeOfTransport.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter mode of
                                                    transport</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Vehicle Number</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="15" type="text" ng-model="modProdBatchInfo.vehicleNo"
                                                       name="vehicleNumber" class="form-control"/>

                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.vehicleNumber.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter vehicle
                                                    number</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Driver Name</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="40" type="text" ng-model="modProdBatchInfo.driver"
                                                       class="form-control" name="driver"/>

                                            </div>
                                            <div class="help-block" ng-messages="prodBatchOutwardForm.driver.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter driver name</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Transport Agency</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="40" type="text"
                                                       ng-model="modProdBatchInfo.TranspAgency" class="form-control"
                                                       name="transportAgency"/>

                                            </div>
                                            <div class="help-block"
                                                 ng-messages="prodBatchOutwardForm.transportAgency.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter transport
                                                    agency</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">Cost</label>

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-pencil"></span></span>
                                                <input maxlength="11" type="text" ng-model="modProdBatchInfo.cost"
                                                       class="form-control" name="cost"/>

                                            </div>
                                            <div class="help-block" ng-messages="prodBatchOutwardForm.cost.$error"
                                                 ng-show="submitted">
                                                <p style="color:red" ng-message="required">Please enter cost</p>
                                            </div>
                                        </div>

                                    </div>


                                </div>


                            </div>


                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" ng-click="(submitted=false) && clear('final')">Clear Form
                            </button>
                            <button data-dismiss="modal" class="btn btn-primary pull-right"
                                    ng-click="(submitted=true) && prodBatchOutwardForm.$valid && initProd(modProdBatchInfo,'Complete','complete')">
                                Submit
                            </button>

                            <button data-target="#viewProductInfo" data-toggle="modal"
                                    class="btn btn-primary pull-right" style="margin-right: 1%;"><span
                                    class="fa fa-eye"></span> View Previous Details
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</div>

</div>
<!-- navin view sampla  -->

<!--- ithe view ahe -->

<div class="modal fade" id="viewProductInfo" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Production Details</h4>
            </div>
            <div class="modal-body">
                <table id="supplierDetails">

                    <tr>
                        <th style="padding:5px;">Production Batch Number :</th>
                        <td>{{modProdBatchInfo.batchNo}}</td>

                    </tr>
                    <tr>
                        <th style="padding:5px;">Production Code Name</th>
                        <td>{{modProdBatchInfo.batchCodeName}}</td>
                    </tr>
                    <tr>
                        <th style="padding:5px;">Date of Entry :</th>
                        <td>{{modProdBatchInfo.dateOfEntry}}
                        </td>
                    </tr>
                    <tr>
                        <th style="padding:5px;">Production Start Date :</th>
                        <td>{{modProdBatchInfo.startDate}}
                        </td>

                    </tr>
                    <tr>
                        <th style="padding:5px;">Production End Date :</th>
                        <td>{{modProdBatchInfo.endDate}}</td>
                    </tr>
                    <tr>
                        <th style="padding:5px;">Production Supervisor :</th>
                        <td>{{modProdBatchInfo.supervisor}}</td>
                    </tr>


                    <th style="padding:5px;">:::::Raw Material Details:::::</th>

                    <tr ng-repeat="raw in modProdBatchInfo.rawMaterial">
                        <th style="padding:5px;">Material:</th>
                        <td>{{raw['materialId']}}</td>
                        <th style="padding:5px;">Quantity:</th>
                        <td>{{raw['quantity']}}</td>

                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <!--End of modal-footer-->
        </div>
        <!--End of Modal Content    -->
    </div>
    <!--End of modal dialog-->
</div>

<!-- view smpla -->