 <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal" name="prodBatchOutwardForm" novalidate>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Material Produced</strong></h3>
                                </div>
                             
                                <div class="panel-body">  
                                                               
                                    
                                    <div class="row" >
                                        
                                        <div class="col-md-6">
                                            
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Material Produced</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <!-- <span class="input-group-addon"><span class="fa fa-pencil"></span></span> -->
                                                        <select style="width:100%; margin: 0;" class="btn dropdown-toggle selectpicker btn-default" name="materialProduced" ng-model="prodBatchInfo.prodcdMaterial" required>
                                                            <option value="" disabled selected>Select Material</option>
                                                            <option ng-repeat="x in existingMaterials" 
                                                                      value={{x.materialid}}>{{x.productname}}
                                                                   </option>
                                                        </select>
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.materialProduced.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please select material produced</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Quantity</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="10" type="text" name="quantity" ng-model="prodBatchInfo.quantityProdMat" class="form-control" required/>
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.quantity.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please enter quantity</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Packaged Unit</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="11" type="text" name="packagedUnit" ng-model="prodBatchInfo.pckgdUnits"class="form-control" required/>
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.packagedUnit.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please enter packaged unit</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label"> Company</label>

                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                    <select style="width:100%; margin: 0;" class="btn dropdown-toggle selectpicker btn-default" ng-model="prodBatchInfo.company" name="companyName"
                                                            required>
                                                        <option value="" disabled selected>Select Company</option>
                                                        <option ng-repeat="x in Company"
                                                                value={{x.companyId}}>{{x.companyName}}
                                                        </option>
                                                    </select>
                                                    </div>


                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.company.$error"
                                                         ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please select company name.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Warehouse</label>

                                                <div class="col-md-7">
                                                    <div class="input-group" >
                                                            <select style="width:100%; margin: 0;" class="btn dropdown-toggle selectpicker btn-default" ng-model="prodBatchInfo.wareHouse"
                                                                    name="warehouseName" required>
                                                                <option value="" disabled selected>Select Warehouse</option>
                                                                <option ng-repeat="x in warehouses"
                                                                        value={{x.warehouseId}}>{{x.wareHouseName}}
                                                                </option>
                                                            </select>
                                                    </div>

                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.wareHouse.$error"
                                                         ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please select warehouse.</p>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <div class="form-group">                                        
                                            <label class="col-md-4 control-label">Date of Entry </label>
                                                <div class="col-md-7">
                                                    <div class="input-group" >
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input readonly type="text" name="dateOfEntry" class="form-control date"  ng-model="prodBatchInfo.dateOfEntryAftrProd" ng-click="openDOE()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="showPicker.opened" datepicker-options="dateOptions"  show-button-bar="false" ng-required="true"/>
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.dateOfEntry.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Please enter date</p>
                                                    </div>
                                                </div>
                                                </div>

                                            <div class="form-group">
                                                <label class="col-md-4  control-label">Transportation Required ?</label>
                                                <div class="col-md-7">
                                                                                        
                                                        <label class="check"><input type="checkbox" class="icheckbox" name="tranReq" ng-model="prodBatchInfo.tranReq"  /> </label>
                                             
                                                </div>
                                                </div>
                                             
                                        </div>


                                        <div class="col-md-6" ng-show="prodBatchInfo.tranReq == true">
                                            
                                            <div class="form-group">                                        
                                                <label class="col-md-4 control-label">Mode of Transportation</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="25" type="text" name="modeOfTransport" ng-model="prodBatchInfo.modeOfTransport" class="form-control"/>
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.modeOfTransport.$error" ng-show="prodBatchInfo.tranReq && submitted">
                                                        <p style="color:red" ng-message="required">Please enter mode of transport</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">                                        
                                                <label class="col-md-4 control-label">Vehicle Number</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="15" type="text" ng-model="prodBatchInfo.vehicleNo" name="vehicleNumber" class="form-control" />
                                                                                                            
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.vehicleNumber.$error" ng-show="prodBatchInfo.tranReq && submitted">
                                                        <p style="color:red" ng-message="required">Please enter vehicle number</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">                                        
                                                <label class="col-md-4 control-label">Driver Name</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="40" type="text" ng-model="prodBatchInfo.driver" class="form-control" name="driver" />
                                                                                                            
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.driver.$error" ng-show="prodBatchInfo.tranReq && submitted">
                                                        <p style="color:red" ng-message="required">Please enter driver name</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">                                        
                                                <label class="col-md-4 control-label">Transport Agency</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="40" type="text" ng-model="prodBatchInfo.TranspAgency" class="form-control" name="transportAgency" />
                                                                                                            
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.transportAgency.$error" ng-show="prodBatchInfo.tranReq && submitted">
                                                        <p style="color:red" ng-message="required">Please enter transport agency</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">                                        
                                                <label class="col-md-4 control-label">Cost</label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength="11" type="text" ng-model="prodBatchInfo.cost" class="form-control" name="cost"  />
                                                                                                            
                                                    </div>
                                                    <div class="help-block" ng-messages="prodBatchOutwardForm.cost.$error" ng-show="prodBatchInfo.tranReq && submitted">
                                                        <p style="color:red" ng-message="required">Please enter cost</p>
                                                    </div>
                                                </div>

                                            </div>

                                            
                                        </div>
                                            
                                       


                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default" ng-click="(submitted=false) && clear('final')">Clear Form</button>
                                    <button style="margin-left: 5px;" class="btn btn-primary pull-right" ng-click="(submitted=true) && prodBatchOutwardForm.$valid && initProd(prodBatchInfo,'final','Add')">Submit</button>
                                    <button class="btn btn-primary pull-right"  ng-click="goBack()">Back</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div>