<div class="modal-header">

    <h4 class="modal-title">Please confirm all the details that you entered. </h4>
</div>
<div class="modal-body">

    <!--End of form heading section-->
    <div class="panel-body ">
        <h3> <span style="color: RED" class="fa fa-exclamation-circle">You can not modify once you submit the data.
                    Click submit to save data otherwise click cancel</span></h3>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="save()">Submit
    </button>
    <button type="button" class="btn btn-default"
            ng-click="cancel()">Cancel
    </button>
</div>