<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<!-- ADD USER FORM START-->
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form name="companyForm" class="form-horizontal" role="companyForm" novalidate>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Add </strong>Company</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <h3 class="panel-title"><strong>Basic</strong> Information </h3>
                                    </div><br>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 col-xs-12 control-label">Company Name</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "50" name="companyName" ng-model="company.name" type="text" class="form-control" required minlength=2/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.companyName.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">Your name is too short.</p>
                                                    <!--<p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>-->
                                                    <p style="color:red" ng-message="minlength">Company name must have length > 2 </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 col-xs-12 control-label">Company start date</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" name="startdate" ng-model="company.startdate" class="form-control" ng-click="openCompDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="compDate.opened" datepicker-options="dateOptions" show-button-bar="false"  ng-required="true" readonly/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.startdate.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">Start Date Cannot be blank</p>
                                                    <p style="color:red" ng-message="date">not a valid date</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">City</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group ">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "50" type="text" name="city" ng-model="company.city" class="form-control" required  minlength=2/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.city.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">City Cannot be blank</p>
                                                    <!--<p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>-->
                                                    <p style="color:red" ng-message="minlength">City must have more than 2 character</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">State</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "50" ng-model="company.state" name="state" type="text" class="form-control" required minlength=2 />
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.state.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">State Cannot be blank</p>
                                                    <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>
                                                    <p style="color:red" ng-message="minlength">State must have more than 2 character</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">Country</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "50" ng-model="company.country" name="country" type="text" class="form-control" minlength=2 required />
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.country.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">Country Cannot be blank</p>
                                                    <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>
                                                    <p style="color:red" ng-message="minlength">Country must have more than 2 character</p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">Email Id</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                    <input maxlength = "50" type="email" class="form-control" ng-model="company.email" name="emailId"/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.emailId.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="email">Invalid email address</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 col-xs-12 control-label">Company Abbrevation</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "10" name="abbrevation" ng-model="company.abbrevation"  type="text" class="form-control" minlength=2/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.abbrevation.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="minlength">Abbrevation must have length >2</p>
                                                    <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">Address</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <textarea maxlength = "80" ng-model="company.address" name="address" class="form-control" rows="6" required minlength=10></textarea>
                                                <div class="help-block" ng-messages="companyForm.address.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">Address Cannot be blank</p>
                                                    <p style="color:red" ng-message="minlength">Address must have more than 10 characters</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">Pin code</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input maxlength = "15" ng-model="company.pincode" name="pincode" type="text" class="form-control" required minlength=2/>
                                                </div>
                                                <div class="help-block" ng-messages="companyForm.pincode.$error" ng-show="submitted">
                                                    <p style="color:red" ng-message="required">Pincode Cannot be blank</p>                     <p style="color:red" ng-message="minlength">Pincode must have more than 2 character</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label col-sm-4">Phone number</label>
                                            <div class="col-md-8 col-xs-12 col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                                    <input maxlength = "15" ng-model="company.phone" name="phone" type="text" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div><br>
                                    <div class="row">
                                        <h3 class="panel-title"><strong>Bank</strong> Details </h3>
                                    </div><br>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-12 control-label">Bank Name</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "50" name="bankName" ng-model="company.bankName" type="text" class="form-control" required minlength=2/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.bankName.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Bank name cannot be blank</p>
                                                        <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                                        <p style="color:red" ng-message="minlength">Bank name must have length > 2 </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label col-sm-4">Account Name</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "15" ng-model="company.accountName" name="accountName" type="text" class="form-control" required minlength=2/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.accountName.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Account Name Cannot be blank</p>
                                                        <p style="color:red" ng-message="minlength">Account Name must have more than 2 character</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label col-sm-4">Account Type</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group ">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "50" type="text" name="accountType" ng-model="company.accountType" class="form-control" required   minlength=2/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.accountType.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Account Type Cannot be blank</p>
                                                        <!--<p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>-->
                                                        <p style="color:red" ng-message="minlength">Account Type must have more than 2 character</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 col-sm-4 col-xs-12 control-label">Bank Branch Name</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "10" name="bankBranch" ng-model="company.bankBranch"  type="text" class="form-control" minlength=2 required/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.bankBranch.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Bank Branch Cannot be blank</p>
                                                        <p style="color:red" ng-message="minlength">Bank Branch Name must have length >2</p>

                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label col-sm-4">Account Number</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "15" ng-model="company.accountNo" name="accountNo" type="text" class="form-control" required minlength=2/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.accountNo.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">Account Number Cannot be blank</p>
                                                        <p style="color:red" ng-message="minlength">Account Number must have more than 2 character</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 col-xs-12 control-label col-sm-4">IFSC Code</label>
                                                <div class="col-md-8 col-xs-12 col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input maxlength = "15" ng-model="company.IFSCCode" name="IFSCCode" type="text" class="form-control" required minlength=2/>
                                                    </div>
                                                    <div class="help-block" ng-messages="companyForm.IFSCCode.$error" ng-show="submitted">
                                                        <p style="color:red" ng-message="required">IFSC Code Cannot be blank</p>
                                                        <p style="color:red" ng-message="minlength">IFSC Code must have more than 2 character</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div><br>


                                </div>
                                <div class="panel-footer">
                                    <!--<button class="btn btn-default pull-left">Clear Form</button>-->
                                    <button class="btn btn-default pull-right" ng-click="(submitted=true) && companyForm.$valid && addCompany()">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div> 
<!--ADD COMPANY FORM START