<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
 <div class="row">
    <div class="col-md-12">
                            
      <form name="roleForm" class="form-horizontal" novalidate>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Add </strong>Role</h3>
          </div>
        <div class="panel-body"> 

        <div class="form-group">
            <label class="col-md-2 col-xs-12 control-label">Enter Role name</label>
            <div class="col-md-6 col-xs-12 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                <input maxlength = "20" ng-model="roleName" name="roleName" type="text" class="form-control" required pattern="[a-zA-Z0-9]+" minlength=2/>
            </div>
            <div class="help-block" ng-messages="roleForm.roleName.$error" ng-show="roleSubmitted">
            <span style="color:red" ng-message="required">Role name cannot be blank</span> 
          </div>
            </div>
        </div>

      <div class="form-group">
        <label class="col-md-2 col-xs-12 control-label col-sm-2">List of Permission</label>
        <div class="col-md-6 col-xs-12 col-sm-4 permission" style="padding:0;">
             

                <div class="col-md-12">
                <span style="color:red" ng-show="showAccessError">Choose access permissions</span>
                <table class="table table-fixed">
                  <thead>
                    <tr>
                      <th class="col-xs-8">Module name</th>
                      <th class="col-xs-2">Read</th>
                      <th class="col-xs-2">Write</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="accessEntry in accessList">
                      <td ng-model="accessEntry.moduleName"class="col-xs-8">{{accessEntry.moduleName}}</td>
                      <td class="col-xs-2 "><input ng-model="accessEntry.read.val" type="checkbox" ng-show="accessEntry.read.ispresent" name="read"></td>
                      <td class="col-xs-2 "><input ng-model="accessEntry.write.val"  type="checkbox"  ng-show="accessEntry.write.ispresent" name="write"></td>
                    </tr>
                   
                  </tbody>
                </table>
                </div>
              </div>  
          </div>  

        </div>
         <div class="panel-footer">
             <button class="btn btn-primary pull-right"  ng-click="(roleSubmitted=true) && roleForm.$valid && addRole()" ng-disabled="roleDisabled">Submit</button>
             <button class="btn btn-default pull-right" ng-click="finish()">Finish</button>
      </div>
        
      </div>
      </form>
    </div>
  </div>
</div>
<!-- ADD role FORM END-->  
