<!-- ADD USER FORM START-->
<div class="row">
    <div class="col-md-12">

        <form name="superUserForm" class="form-horizontal" role="superUserForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Create Super User </strong></h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label">First Name</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="superUserInfoName" pattern="[a-zA-Z0-9]+" ng-model="superUserInfo.firstName" type="text" class="form-control" placeholder="Enter superUser Name"  required minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.superUserInfoName.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Your name is too short.</p>
                                <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                <p style="color:red" ng-message="minlength">superUser name must have length > 2 </p>
                            </div>
                        </div>
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label">Last Name</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="superUserInfoLastName" pattern="[a-zA-Z0-9]+" ng-model="superUserInfo.lastName" type="text" class="form-control" placeholder="Enter superUser Last Name"  required minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.superUserInfoLastName.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Your name is too short.</p>
                                <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                <p style="color:red" ng-message="minlength">superUser name must have length > 2 </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label">Date Of Birth</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="dateOfBirth"  ng-model="superUserInfo.dateOfBirth" type="text" class="form-control"  ng-click="showDob()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="showPicker.opened" datepicker-options="dateOptions"  show-button-bar="false"/>
                            </div>
                            <!--<div class="help-block" ng-messages="superUserForm.superUserInfoName.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Your name is too short.</p>
                                <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                <p style="color:red" ng-message="minlength">superUser name must have length > 2 </p>
                            </div>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Address</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <textarea ng-model="superUserInfo.address" name="address" placeholder="Enter superUser Address" class="form-control" rows="5" required minlength=10></textarea>
                        </div>
                        <div class="help-block" ng-messages="superUserForm.address.$error" ng-show="submitted">
                            <p style="color:red" ng-message="required">Address Cannot be blank</p>
                            <p style="color:red" ng-message="minlength">Address must have more than 10 characters</p>
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">City</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group ">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" name="city" ng-model="superUserInfo.city" placeholder="Enter superUser City" class="form-control" required pattern="[a-zA-Z]+" minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.city.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">City Cannot be blank</p>
                                <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>
                                <p style="color:red" ng-message="minlength">City must have more than 2 character</p>
                            </div>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label col-sm-2">State</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input ng-model="superUserInfo.state" name="state" type="text" placeholder="Enter superUser State" class="form-control" required minlength=2 pattern="[a-zA-Z]+"/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.state.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">State Cannot be blank</p>
                                <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>
                                <p style="color:red" ng-message="minlength">State must have more than 2 character</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Country</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input ng-model="superUserInfo.country" name="country" placeholder="Enter superUser Country" type="text" class="form-control" minlength=2 required pattern="[a-zA-Z]+"/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.country.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Country Cannot be blank</p>
                                <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>
                                <p style="color:red" ng-message="minlength">Country must have more than 2 character</p>
                            </div>

                        </div>

                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Pin code</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input ng-model="superUserInfo.pincode" name="pincode" type="text" placeholder="Enter Pincode" class="form-control" required minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.pincode.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Pincode Cannot be blank</p>                     <p style="color:red" ng-message="minlength">Pincode must have more than 2 character</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Email Id</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="Enter superUser Email Id" ng-model="superUserInfo.email" name="emailId"/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.emailId.$error" ng-show="submitted">
                                <p style="color:red" ng-message="email">Invalid email address</p>
                            </div>

                        </div>

                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Phone number</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                <input ng-model="superUserInfo.phone" placeholder="Enter Phone Number" name="phone" type="text" class="form-control"/>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label">Designation</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="designation" pattern="[a-zA-Z0-9]+" ng-model="superUserInfo.designation" type="text" class="form-control" placeholder="Enter Designation"  required minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="superUserForm.superUserInfoName.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Your Designation is too short.</p>
                                <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>
                                <!--<p style="color:red" ng-message="minlength">superUser name must have length > 2 </p>-->
                            </div>
                        </div>
                    </div>



                </div>
                <div class="panel-footer">
                    <button class="btn btn-default pull-left">Clear</button>
                    <button class="btn btn-primary pull-right" ng-click="">Cancel</button>
                    <button class="btn btn-default pull-right" ng-click="(submitted=true) && superUserForm.$valid && addSuperUserInfo()">Add</button>
                </div>
            </div>
        </form>

    </div>
</div>
<!--ADD superUserInfo FORM START