<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><strong>Warehouse</strong> Details</h3>
        </div>
        <div class="panel-body form-horizontal">

            <div class="row">
                <div class="col-md-2">

                </div>

                <div class="col-md-6">
                    <div class="input-group" >
                        <span class="input-group-addon"><span class="fa fa-search"></span></span>

                        <input type="text" class="form-control" placeholder="Keywords..." value="" ng-model="keyword"/>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" ng-click="getWareHouseDetails(keyword)">Search</button>
                    </div>

                </div>
            </div><br>
            <div class="table-responsive push-up-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>PinCode</th>
                        <th>Phone no</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wareHouse in warehouses">
                        <td>{{$index+1}}</td>
                        <td>{{wareHouse.wareHouseName}}</td>
                        <td>{{wareHouse.address}}</td>
                        <td>{{wareHouse.city}}</td>
                        <td>{{wareHouse.state}}</td>
                        <td>{{wareHouse.country}}</td>
                        <td>{{wareHouse.pincode}}</td>
                        <td>{{wareHouse.phoneNumber}}</td>

                        <td>
                            <!--<button class="btn btn-primary"  data-toggle="modal" data-target="#viewDetails">View</button>-->
                            <button ui-sref="Config.modifyWarehouse({warehouseId:wareHouse.warehouseId})" class="btn btn-primary"  data-toggle="modal" data-target="">Modify</button>
                            <!--<button class="btn btn-primary"  data-toggle="modal" data-target="">Delete</button>-->
                        </td>
                    </tr>



                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <uib-pagination total-items="totalItems" ng-model="currentPage"
                    max-size="10" boundary-links="true"
                    items-per-page="QuotationHistoryPerPage" class="pagination-sm">
    </uib-pagination>


</div>



