<!-- ADD USER FORM START-->
<div class="row">
    <div class="col-md-12">
        <form name="customerForm" class="form-horizontal" role="customerForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add </strong>Customer</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 col-xs-12 control-label">Customer Name</label>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="customerName" pattern="[a-zA-Z0-9]+" ng-model="customer.name" type="text"
                                       class="form-control" placeholder="Enter Customer Name" required minlength=2/>
                            </div>
                            <div class="help-block" ng-messages="customerForm.customerName.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">Your name is too short.</p>

                                <p style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</p>

                                <p style="color:red" ng-message="minlength">Customer name must have length > 2 </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">Address</label>

                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <textarea ng-model="customer.address" name="address" placeholder="Enter Customer Address"
                                      class="form-control" rows="3" required minlength=10></textarea>
                        </div>
                        <div class="help-block" ng-messages="customerForm.address.$error" ng-show="submitted">
                            <p style="color:red" ng-message="required">Address Cannot be blank</p>

                            <p style="color:red" ng-message="minlength">Address must have more than 10 characters</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-xs-12 control-label col-sm-2">City</label>

                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group ">
                                <!--<input type="text" name="city" ng-model="customer.city" placeholder="Enter Customer City" class="form-control" required pattern="[a-zA-Z]+" minlength=2/>-->
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="btn dropdown-toggle selectpicker btn-default" ng-model="customer.city"
                                        name="city"
                                        required>
                                    <option value="" disabled selected>-----Select City-----</option>
                                    <option value="India">India</option>
                                    <option value="America">America</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Italy">Italy</option>
                                </select>

                            </div>

                            <div class="help-block" ng-messages="customerForm.city.$error" ng-show="submitted">
                                <p style="color:red" ng-message="required">City Cannot be blank</p>

                                <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>

                                <p style="color:red" ng-message="minlength">City must have more than 2 character</p>
                            </div>
                        </div>

                        <label class="col-md-2 col-xs-12 control-label col-sm-2">State</label>

                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>

                                <select class="btn dropdown-toggle selectpicker btn-default" ng-model="customer.state"
                                        name="state"
                                        required>
                                    <option value="" disabled selected>-----Select State-----</option>
                                    <option value="India">India</option>
                                    <option value="America">America</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Italy">Italy</option>
                                </select>
                            </div>
                        </div>
                        <div class="help-block" ng-messages="customerForm.state.$error" ng-show="submitted">
                            <p style="color:red" ng-message="required">State Cannot be blank</p>

                            <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>

                            <p style="color:red" ng-message="minlength">State must have more than 2 character</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Country</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            <select class="btn dropdown-toggle selectpicker btn-default" ng-model="customer.country"
                                    name="companyName"
                                    required>
                                <option value="" disabled selected>-----Select Country-----</option>
                                <option value="India">India</option>
                                <option value="America">America</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Japan">Japan</option>
                                <option value="Italy">Italy</option>
                            </select>
                        </div>
                        <div class="help-block" ng-messages="customerForm.country.$error" ng-show="submitted">
                            <p style="color:red" ng-message="required">Country Cannot be blank</p>

                            <p style="color:red" ng-message="pattern">Only aplhabets(a-z) are allowed</p>

                            <p style="color:red" ng-message="minlength">Country must have more than 2 character</p>
                        </div>

                    </div>

                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Pin code</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            <input ng-model="customer.pincode" name="pincode" type="text" placeholder="Enter Pincode"
                                   class="form-control" required minlength=2/>
                        </div>
                        <div class="help-block" ng-messages="customerForm.pincode.$error" ng-show="submitted">
                            <p style="color:red" ng-message="required">Pincode Cannot be blank</p>

                            <p style="color:red" ng-message="minlength">Pincode must have more than 2 character</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Email Id</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                            <input type="email" class="form-control" placeholder="Enter Customer Email Id"
                                   ng-model="customer.email" name="emailId"/>
                        </div>
                        <div class="help-block" ng-messages="customerForm.emailId.$error" ng-show="submitted">
                            <p style="color:red" ng-message="email">Invalid email address</p>
                        </div>

                    </div>

                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Phone number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" placeholder="Enter Phone Number" name="phone" type="text"
                                   class="form-control"/>
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Landline number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" placeholder="Enter Landline Number" name="phone"
                                   type="text" class="form-control"/>
                        </div>

                    </div>
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Fax number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" name="phone" placeholder="Enter Fax Number" type="text"
                                   class="form-control"/>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">Service Tax number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" placeholder="Enter Service Tax Number" name="phone"
                                   type="text" class="form-control"/>
                        </div>

                    </div>
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">PAN number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" name="phone" placeholder="Enter PAN Number" type="text"
                                   class="form-control"/>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">VAT number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" placeholder="Enter VAT Number" name="phone" type="text"
                                   class="form-control"/>
                        </div>

                    </div>
                    <label class="col-md-2 col-xs-12 control-label col-sm-2">CST number</label>

                    <div class="col-md-3 col-xs-12 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                            <input ng-model="customer.phone" name="phone" placeholder="Enter CST Number" type="text"
                                   class="form-control"/>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <!--<button class="btn btn-default pull-left">Clear Form</button>-->
                <button class="btn btn-primary pull-right" ng-click="">Finish</button>
                <button class="btn btn-default pull-right"
                        ng-click="(submitted=true) && customerForm.$valid && addcustomer()">Submit
                </button>
            </div>
    </div>
</div>
</form>

</div>
</div>
<!--ADD customer FORM START