<div class="modal-header">

    <h4 class="modal-title">Tax Details </h4>
</div>
<div class="modal-body">
    <div class="row">
        <form  name="addTaxForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Tax Title</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" class="form-control" ng-model="tax.taxTitle" name="taxTitle" required/>
                    </div>
                    <div class="help-block"
                         ng-messages="addTaxForm.taxTitle.$error"
                         ng-show="formSubmitted">
                        <span style="color:red" ng-message="required">Tax Title is required</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Tax Percentage</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" class="form-control" ng-model="tax.taxPercentage" ng-change="calculateTaxAmount()"
                               name="taxPercentage"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Tax Amount</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" class="form-control" ng-model="tax.amount" name="taxAmount"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="ok()">Submit</button>
    <button type="button" class="btn btn-default"
            ng-click="cancel()">Cancel</button>
</div>