<div class="row">
    <div class="col-md-12">

        <!--Start of form section-->
        <div class="panel panel-default">
            <!--Start of form heading section-->
            <div class="panel-heading">
                <h3 class="panel-title">Followup Conduction</h3>
            </div>
            <!--End of form heading section-->

            <div class="panel-body">
                <form name="otherExpenseForm" class="form-horizontal" novalidate>

                    <!--Start of form container row-->
                    <div class="row">

                        <!--start-->
                        <div class="form-group">
                            <label class="col-md-2  control-label">Followup Title : </label>
                            <div class="col-md-7">
                                <div class="input-group" style="margin-top:8px">

                                    <label value="Title">Title</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2  control-label">Followup Date : </label>
                            <div class="col-md-7">
                                <div class="input-group" style="margin-top:8px">

                                    <label value="12/12/2016">12/12/2016</label>
                                </div>
                            </div>
                        </div>
                        <!--end-->

                        <!--start-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">Start Date : </label>

                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control" ng-model="task.startDate" name="date" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-md-2 control-label">Note : </label>
                            <div class="col-md-4 ">
                                <textarea name="note" class="form-control" rows="2" ng-model="paymentFollowUp.note"></textarea>
                                <span class="help-block"></span>
                            </div>

                        </div>
                        <!--end-->

                        <!--start-->

                        <div class="form-group">
                            <label class="col-md-2  control-label">Reschedule Followup : </label>
                            <div class="col-md-7">
                                <div class="input-group col-md-8">
                                    <label class="check">
                                        <input type="checkbox" class="mycheck" ng-model="paymentFollowUp.isRescheduleFollowup"/> Check this to reschedule followup</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end-->

                <div class="row" id="paymentmode" ng-show="paymentFollowUp.isRescheduleFollowup">
                    <!--start-->
                    <form name="rescheduleFollowup" class="form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-md-2  control-label">Followup Title : </label>
                            <div class="col-md-7">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text"  name="title"  ng-model="billDetails.billNo" class="form-control" required/>
                                </div>
                                <!--<div class="help-block" ng-messages="rescheduleFollowup.title.$error"">-->
                                    <!--<p style="color:red" ng-message="required">Title cannot be blank</p>-->

                                <!--</div>-->
                            </div>

                        </div>
                        <!--end-->

                        <!--start-->
                        <div class="form-group">
                            <label class="col-md-2  control-label">Assigned To : </label>
                            <div class="col-md-7">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text"  name="firmName"  ng-model="billDetails.firmName" class="form-control" required/>

                                </div>
                                <div class="help-block" ng-messages="rescheduleFollowup.firmName.$error" ng-show="otherExpenseClicked">
                                    <p style="color:red" ng-message="required">Firm Name cannot be blank</p>

                                </div>
                            </div>
                        </div>
                        <!--end-->

                        <!--start-->
                        <div class="form-group">
                            <label class="col-md-2  control-label">Date of Bill : </label>
                            <div class="col-md-7">
                                <div class="input-group col-md-8">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input  type="date" name="billDate" ng-model="billDetails.dateOfBill" type="text" class="form-control datepicker" required/>
                                </div>
                                <div class="help-block" ng-messages="rescheduleFollowup.billDate.$error" ng-show="otherExpenseClicked">
                                    <p style="color:red" ng-message="required">Date Of Bill cannot be blank</p>

                                </div>
                            </div>
                        </div>
                        <!--end-->
                    </form>

                </div>
                <!--End of form container row-->

                <!--Start of buttons section-->
                <div class="panel-footer">
                    <button class="btn  btn-primary pull-right" ng-click="(otherExpenseClicked=true) &&  ( otherExpenseForm.$valid && (!expenseDetails.isBillApplicable || rescheduleFollowup.$valid ) ) &&addOtherExpense()">Submit</button>

                    <button class="btn  btn-default pull-right">Clear Form</button>
                </div>
                <!--End of buttons section-->
            </div>
            <!--End of form section-->
            </form>

        </div>
    </div>
</div>