<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>Create Project</strong> Invoice </h3>

        </div>
        <div class="panel-body">

            <!--Form Starts here-->
            <form class="form-horizontal">

                    <div class="row">
                        <h3 class="panel-title"><strong>Invoice</strong> Details </h3>
                    </div><br>
                    <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Invoice Number :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="InvoiceNumber" ng-model="invoiceNumber"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Quotation Number :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="InvoiceNumber" ng-model="quotationNumber"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">WorkOrder Number :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="WorkorderNumber" ng-model="workorderNumber"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Contact Person :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="contactPerson" ng-model="contactPerson"/>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Invoice Date :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="date" class="form-control" name="InvoiceDate" ng-model="invoiceDate"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Quotation Date :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="date" class="form-control" name="InvoiceDate" ng-model="quotationDate"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Workorder Date :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="date" class="form-control" name="WorkorderDate" ng-model="workorderDate"/>
                                        </div>

                                    </div>
                                </div>
                            </div>

                    </div><br>
                    <div class="row">

                        <h3 class="panel-title"><strong>Quotation</strong> Abstract </h3>

                    </div><br>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Unit rate</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>
                                   {{"Quotation 1"}}
                                </td>
                                <td>
                                    {{"Demo Quotation"}}
                                </td>
                                <td>
                                    {{"10"}}
                                </td>
                                <td>
                                    {{"100"}}
                                </td>
                                <td>
                                    {{"1000"}}
                                </td>

                            </tr>
                        </table>

                    </div><br>

                    <div class="row form-horizontal">

                        <div class="col-md-offset-6 col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label"><strong>Total Amount :</strong></label>
                                </div>
                                <div class="col-md-8">
                                    {{"1000"}}
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label"><strong>Rounding Off :</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="RoundingOff" ng-model="roundingOff"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label"><strong>Grand  Total :</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="GrandTotal" ng-model="grandTotal"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">


                        <h3 class="panel-title"><strong>Payment</strong> Retention </h3>

                    </div><br>
                    <div class="row">

                        <div class="col-md-6">
                            <input type="checkbox" ng-model="IsPaymentRetention" name="isPaymentRetention" value="true">  Is Payment Retention
                        </div>

                    </div><br>
                    <!--If Payment retention show following div-->
                    <div class="row form-horizontal">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Retention Factor :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="RetentionFactor" ng-model="retentionFactor"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Retention Period (in days)  :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control" name="RetentionPeriod" ng-model="retentionPeriod"/>
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <input type="checkbox" ng-model="retentionFollowup" name="RetentionFollowup" > Retention Follow-up
                                </div>

                            </div>
                    </div>


            </form>
            <!--End of Form-->
        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right">Submit<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button class="btn  btn-default pull-right">Clear Form</button>
        </div>

    </div>

</div>