<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Project</strong>Modification</h3>
        </div>
        <div class="panel-body">

            <form name="ProjectInfoForm" class="form-horizontal">

                <div class="row">
                    <h3 class="panel-title"><strong>Basic</strong> Information </h3>
                </div><br>

                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Customer Name :</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control select" name="customer" ng-model="projectDetails.customerId" required>
                                    <option value="" disabled selected>Choose Customer</option>
                                    <option ng-repeat="customer in customers" value="{{customer.customerId}}">{{customer.customerName}}</option>

                                </select>

                            </div>
                            <div class="help-block"
                                 ng-messages="ProjectInfoForm.customer.$error"
                                 ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">Customer Name is required</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Project Name :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="ProjectName" ng-model="projectDetails.projectName" required/>
                                </div>
                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.ProjectName.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Project Name is required</span>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Address :</label>
                            </div>
                            <div class="col-md-8">
                                    <textarea class="form-control" name="Project"
                                              ng-model="projectDetails.projectAddress" rows="3" maxlength="200" required>
                                    </textarea>
                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.ProjectName.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Address is required</span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">City :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="ProjectCity" ng-model="projectDetails.projectCity" required/>

                            </div>
                            <div class="help-block"
                                 ng-messages="ProjectInfoForm.ProjectCity.$error"
                                 ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">City is required</span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Pin code :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="pinCode" ng-model="projectDetails.pinCode" required/>
                                </div>
                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.PinCode.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Pin Code is required</span>

                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">State :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="projectState" ng-model="projectDetails.projectState" required/>


                            </div>
                            <div class="help-block"
                                 ng-messages="ProjectInfoForm.projectState.$error"
                                 ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">State is required</span>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Country :</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="projectCountry" ng-model="projectDetails.projectCountry" required/>


                            </div>
                            <div class="help-block"
                                 ng-messages="ProjectInfoForm.projectCountry.$error"
                                 ng-show="formSubmitted">
                                <span style="color:red" ng-message="required">Country is required</span>

                            </div>

                        </div>


                    </div>



                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Project</strong> Manager </h3>
                </div><br>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Manager :</label>
                            </div>
                            <div class="col-md-8">
                                <!--<select class="form-control select" name="projectManager" ng-model="projectDetails.projectManagerId">-->
                                    <!--<option value="" disabled selected>Choose Manager..</option>-->
                                    <!--<option ng-repeat="manager in projectManagers" value="{{manager.projectManagerId}}">{{manager.name}}</option>-->

                                <!--</select>-->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="projectManager" ng-model="projectDetails.projectManagerId" maxlength="60" required/>
                                </div>
                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.projectManager.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Project Manager is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Point Of Contact </strong>Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Name :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointOfContactName" ng-model="projectDetails.pointOfContactName" required/>
                                </div>

                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.PointOfContactName.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="required">Contact Name is required</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Land-line No :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointOfLandlineNo" ng-model="projectDetails.pointOfContactLandlineNo"/>
                                </div>

                            </div>
                        </div>





                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Email Id :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="email" class="form-control" name="pointOfContactEmailId" ng-model="projectDetails.pointOfContactEmailID"/>
                                </div>
                                <div class="help-block"
                                     ng-messages="ProjectInfoForm.pointOfContactEmailId.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="email">Enter a valid Email Id</span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Mobile No :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointofConactMobileNo" ng-model="projectDetails.pointOfConactMobileNo"/>
                                </div>

                            </div>
                        </div>

                    </div>

                </div><br>

                <div class="row">
                    <h3 class="panel-title"><strong>Companies </strong>Not Involved </h3>
                </div><br>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Company Name</th>
                            <th>Mark</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="companyEntry in companies">
                        <td>{{$index + 1}}</td>

                        <td>
                            {{companyEntry.companyName}}
                        </td>
                        <td>
                            <div>
                                <input type="checkbox" ng-model="companyEntry.checkVal"    name="toselect1" >
                            </div>
                        </td>


                    </tr>

                    </table>


                </div>
                <!--<div class="row">-->
                    <!--<h3 class="panel-title"><strong>Source </strong></h3>-->
                <!--</div><br>-->
                <!--<div class="row">-->

                    <!--<div class="col-md-6">-->

                        <!--<div class="form-group">-->
                            <!--<div class="col-md-offset-4 col-md-8">-->
                                <!--<div class="input-group">-->
                                    <!--<input type="checkbox" ng-model="isSiteTracking" name="isSiteTracking" >  is it a Site Tracking Project ?-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-md-4">-->
                                <!--<label class="control-label">Source :</label>-->
                            <!--</div>-->
                            <!--<div class="col-md-8">-->
                                <!--<select class="form-control select" name="Source" ng-model="source">-->
                                    <!--<option value="" disabled selected>Choose source..</option>-->
                                    <!--<option value="telephone">Telephone</option>-->
                                    <!--<option value="email">Email</option>-->
                                    <!--<option value="visit">Visit</option>-->
                                    <!--<option value="website">Website</option>-->

                                <!--</select>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            </form>

        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right" ng-click="(formSubmitted=true) && ProjectInfoForm.$valid && modifyProject()">Submit<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button class="btn  btn-default pull-right">Clear Form</button>
        </div>
    </div>

</div>