<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Project Creation </strong>Details</h3>
        </div>
        <div class="panel-body">

            <form name="ProjectInfoForm" class="form-horizontal">

                <div class="row">
                    <h3 class="panel-title"><strong>Basic</strong> Information </h3>
                </div><br>

                <div class="row">

                    <div class="col-md-6">

                        <div class="col-md-8">
                            <select class="form-control select" name="customer" ng-model="projectDetails.customerId">
                                <option value="" disabled selected>Choose Customer</option>
                                <option ng-repeat="customer in customers" value="{{customer.customerId}}">{{customer.customerName}}</option>

                            </select>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Project Name :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="ProjectName" ng-model="projectDetails.projectName"/>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Address :</label>
                            </div>
                            <div class="col-md-8">
                                    <textarea class="form-control" name="Project"
                                              ng-model="projectDetails.address" rows="2">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">City :</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control select" name="ProjectCity" ng-model="projectDetails.city">
                                    <option value="" disabled selected>Choose City..</option>
                                    <option value="pune">Pune</option>
                                    <option value="mumbai">Mumbai</option>
                                    <option value="pandharpur">Pandharpur</option>

                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Pin code :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PicCode" ng-model="projectDetails.pinCode"/>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">State :</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control select" name="projectState" ng-model="projectDetails.state">
                                    <option value="" disabled selected>Choose State..</option>
                                    <option value="maharashtra">Maharashatra</option>
                                    <option value="delhi">Delhi</option>
                                    <option value="gujrat">Gujrat</option>

                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Country :</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control select" name="projectCountry" ng-model="projectDetails.country">
                                    <option value="" disabled selected>Choose Country..</option>
                                    <option value="india">India</option>
                                    <option value="america">America</option>
                                    <option value="japan">Japan</option>

                                </select>

                            </div>
                        </div>


                    </div>



                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Point Of Contact </strong>Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Name :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointOfName" ng-model="projectDetails.pointOfContactName"/>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Land-line No :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointOfLandlineNo" ng-model="projectDetails.pointOfContactLandlineNo"/>
                                </div>

                            </div>
                        </div>





                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Email Id :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="pointOfContactEmailId" ng-model="projectDetails.pointOfContactEmailId"/>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Mobile No :</label>
                            </div>
                            <div class="col-md-8">

                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="PointofConactMobileNo" ng-model="projectDetails.pointfContactMobileNo"/>
                                </div>

                            </div>
                        </div>

                    </div>

                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Project</strong> Manager </h3>
                </div><br>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Manager :</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control select" name="projectManager" ng-model="projectDetails.projectManagerId">
                                    <option value="" disabled selected>Choose Manager..</option>
                                    <option ng-repeat="manager in projectManagers" value="{{manager.projectManagerId}}">{{manager.name}}</option>


                                </select>

                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Companies </strong>Involved </h3>
                </div><br>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Company Name</th>
                            <th>Mark</th>

                        </tr>
                        </thead>
                        <<tr ng-repeat="companyEntry in Companies">
                            <td>1</td>

                            <td>
                               {{companyEntry.companyName}}
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" ng-model="companyEntry.checkVal" name="toselect1" >
                                </div>
                            </td>


                        </tr>

                    </table>


                </div>
                <div class="row">
                    <h3 class="panel-title"><strong>Source </strong></h3>
                </div><br>
                <div class="row">

                        <div class="col-md-6">


                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Source :</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control select" name="Source" ng-model="projectDetails.projectSource">
                                        <option value="" disabled selected>Choose source..</option>
                                        <option value="Telephone">Telephone</option>
                                        <option value="Email">Email</option>
                                        <option value="Visit">Visit</option>
                                        <option value="Website">Website</option>
                                        <option value="Site Tracking">Site Tracking</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                </div>
               </div>
            </form>

        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right" data-ng-click="creteProject()">Submit<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button class="btn  btn-default pull-right">Clear Form</button>
        </div>
    </div>

</div>