<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Project</strong>Details</h3>
        </div>
         <div class="panel-body">


             <div id="basic-details">
                 <div class="row">
                     <h3 class="panel-title"><strong>General Details</strong></h3>
                  </div>

                 <div class="row form-horizontal">
                        <div class="col-md-6">

                            <div class="form-group">
                                 <div class="col-md-4">
                                     <label class="control-label">Project Name :</label>
                                 </div>
                                 <div class="col-md-8">
                                        {{projDetailsData.project_name}}
                                 </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Address  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{projDetailsData.project_Address}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">City  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{projDetailsData.project_City}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">State :</label>
                                </div>
                                <div class="col-md-8">
                                    {{projDetailsData.project_state}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Country  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{projDetailsData.project_Country}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <!--<label class="control-label"> :</label>-->
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-info"  data-toggle="modal" ng-click="sendProjId(projDetailsData)" data-target="#viewContactDetails">View Point of Contact</button>
                                </div>
                            </div>

                        </div>

                 </div>
              </div><br>

            <div id="quotation-details">
             <div class="row">
                 <div class="col-md-6">
                    <h3 class="panel-title"><strong>Quotation Details</strong></h3>
                 </div>
                 <div class="col-md-6">
                     <div class="col-md-4">
                         <!--<label class="control-label"> :</label>-->
                     </div>
                     <div class="col-md-8">
                     <a ui-sref="Process.addQuotation({projectId:projDetailsData.projectId})"><input type="button" class="btn btn-info" ng-click="projectName(projDetailsData.project_name)" value="Add Quotation"/></a>
                    </div>
                 </div>
             </div>
             <br>
             <div class="row">

                 <table class="table table-bordered" >
                     <thead>
                     <tr>
                         <th>Sr.No</th>
                         <th>Quotation</th>
                         <th>Company</th>
                         <th>Date</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr ng-repeat = "q in projectQuotations">
                         <td>{{$index + 1}}</td>
                         <td>{{q.QuotationTitle}}</td>
                         <td>{{q.CompanyName}}</td>
                         <td>{{q.CreationDate}}</td>

                         <td>
                             <a ui-sref="Process.viewQuotation({quotationToView:q,projectName:projDetailsData.project_name})"><button class="btn btn-default btn-sm"><span class="fa fa-eye" ></span>View</button></a>
                             <a ui-sref="Process.reviseQuotation({quotationToRevise:q,projectName:projDetailsData.project_name})"><button class="btn btn-default btn-sm"><span class="fa fa-pencil-square-o" ></span>Revise</button></a>
                             <a ng-show="checkAvailability(q.filePath)" href="{{q.filePath}}"><button  class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button></a>
                             <button class="btn btn-default btn-sm" data-ng-click="scheduleFollowup('lg',q,'Quoatation')"><span class="fa fa-edit"></span>Schedule Followup</button>
                             <a ng-show="isQuotationApproaved(q.isApproved)" data-target="#viewDetails" data-toggle="modal" ><input  type="button" class="btn btn-info" ng-click="check(q)" value="Attach Workorder"></a>
                         </td>
                     </tr>
                     </tbody>
                 </table>

             </div>

         </div><br>

             <div id="workorder-details">
                 <div class="row">
                     <div class="col-md-12">
                         <h3 class="panel-title"><strong>Workorder Details</strong></h3>
                     </div>
                     
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered" >
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Work Order</th>
                             <th>Quotation</th>
                             <th>Date</th>
                             <th>Actions</th>
                           
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="wo in projectWorkorders">
                             <td>{{$index + 1}}</td>
                             <td>{{wo.workoOrderTitle}}</td>
                             <td>{{wo.quotationTitle}}</td>
                             <td>{{wo.receivedDate}}</td>


                             <td>

                                 <a ng-show="checkAvailability(wo.filePath)" href="{{wo.filePath}}"><button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button></a>
                                 <a ui-sref="Process.addInvoice({workOrder:wo})"><input type="button" class="btn btn-info" ng-click="passWork(wo)" value="Create Invoice"/></a>

                             </td>
                         </tr>


                         </tbody>
                     </table>

                 </div>

             </div><br>


             <div id="invoice-details">
                 <div class="row">
                     <div class="col-md-12">
                         <h3 class="panel-title"><strong>Invoice Details</strong></h3>
                     </div>
                    
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered">
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Invoice Name</th>
                             <th>Quotation</th>
                             <th>Date</th>
                             <th>Actions</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="iv in projectInvoice">
                             <td>{{$index + 1}}</td>
                             <td>{{iv.invoiceTitle}}</td>
                             <td>{{iv.quotationTitle}}</td>
                             <td>{{iv.invoiceDate}}</td>

                             <td>
                                 <a ui-sref="Process.viewInvoice({InvoiceToView:iv})"><button class="btn btn-default btn-sm" ng-click="passInvoice(iv)"><span class="fa fa-eye"></span>View</button></a>
                                 <a ng-show="checkAvailability(iv.invoiceBLOB)" href="{{iv.invoiceBLOB}}"><button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button></a>

                                 <button class="btn btn-default btn-sm" data-ng-click="scheduleFollowup('lg',iv,'invoice')"><span class="fa fa-edit"></span>Schedule Followup</button>
                             </td>
                         </tr>


                         </tbody>
                     </table>

                 </div>

             </div><br>


             <div id="payment-details">
                 <div class="row">
                     <div class="col-md-6">
                         <h3 class="panel-title"><strong>Payment Details</strong></h3>
                     </div>
                     <div class="col-md-6">
                         <div class="col-md-4" ng-show="projectInvoice.length>0">
                             <a ui-sref="Process.addPayment"><input type="button" class="btn btn-info" value="Add Payment"/></a>
                         </div>
                         <div class="col-md-4" ng-show="projectInvoice.length>0 && PaidPaymentDetails.length>0">
                           <a ui-sref="Process.paymentHistory"><button class="btn btn-info">View Payment History</button></a>
                         </div>
                     </div>
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered">
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Invoice Name</th>
                             <th>Payment Received</th>
                             <th>Payment Remaining</th>

                         </tr>
                         </thead>
                         <tbody>
                       
                      <tr ng-repeat = " payment in PaidPaymentDetails">
                             <td>{{$index+1}}</td>
                             <td>{{payment.InvoiceNo}}</td>
                             <td>{{payment.amountPaid}}</td>
                             <td>{{payment.totalAmount}}</td>
                         </tr>
                       </tbody>
                     </table>

                 </div>

             </div><br>


         </div>
        <div class="panel-footer">

            <button  ng-click="closeProject()" class="btn  btn-danger pull-right">Close Project <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

            <button ng-click="clearFields()" class="btn  btn-default pull-right">Cancel</button>

        </div>

    </div>

</div>


<!--Modal To view Contact details-->
<div class="modal fade" id="viewContactDetails" ng-init="projDetailsData" role="dialog" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Point of Contact Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                     <div class="form-horizontal">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Name :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{projDetailsData.PointContactName}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Email Id :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{projDetailsData.EmailId}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Landline No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{projDetailsData.LandlineNo}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Mobile No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{projDetailsData.MobileNo}}
                                    </div>
                                </div>

                            </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <!--End of modal-footer-->
        </div>
        <!--End of Modal Content-->
    </div>
    <!--End of modal dialog-->
</div>

<!--Modal To view details-->
<div class="modal fade" id="viewDetails" role="dialog" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attach Workorder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="workOrderForm" novalidate>
                    <div class="form-horizontal">

                        <div class="col-md-12">

                            <div class="form-group" ng-show="showError">
                                <div class="col-md-4">
                                    <label class="control-label" style="color:red">All Fields are mandatory</label>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Quotation :</label>
                                </div>
                                <div class="col-md-8">
                                   <label ng-model="workorder.QuotationId"> {{workOrderDetails.QuotationTitle}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Workorder Title<span style="color:red">*</span> :</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <!--  <input ng-model="workorder.title" name="mobile" type="text" class="form-control" minlength=10 pattern="[0-9]+"/> -->
                                        <input ng-model="workorder.title" name="title" type="text" class="form-control" maxlength="50" required/>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Workorder No<span style="color:red">*</span> :</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <!--  <input ng-model="workorder.title" name="mobile" type="text" class="form-control" minlength=10 pattern="[0-9]+"/> -->
                                        <input ng-model="workorder.number" name="number" type="text" class="form-control" required maxlength="30"/>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Date of Work Order<span style="color:red">*</span> :</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" name="date" value="2015-12-01" ng-model="workorder.date" class="form-control" ng-click="workOrderDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="workOrder.opened" datepicker-options="dateOptions"  show-button-bar="false" required readonly/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Attach Work Order<span style="color:red">*</span> :</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="file" class="form-control" name="QuotationBlob" file-model="myFile" required/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button ng-click="createWorkorder()" class="btn btn-primary pull-right">Add work order</button>
                <button ng-click="" data-dismiss="modal" class="btn btn-default pull-right">Cancel</button>
            </div>
            <!--End of modal-footer-->
        </div>
        <!--End of Modal Content-->
    </div>
    <!--End of modal dialog-->
</div>

