<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Project</strong>Details</h3>
        </div>
         <div class="panel-body">


             <div id="basic-details">
                 <div class="row">
                     <h3 class="panel-title"><strong>General Details</strong></h3>
                  </div>

                 <div class="row form-horizontal">
                        <div class="col-md-6">

                            <div class="form-group">
                                 <div class="col-md-4">
                                     <label class="control-label">Project Name :</label>
                                 </div>
                                 <div class="col-md-8">
                                        {{"Project 1"}}
                                 </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Address  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{"Lane no 1 ,Jadhav Nagar ,Vadgaon (bk) ,Pune"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">City  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{"Pune"}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">State :</label>
                                </div>
                                <div class="col-md-8">
                                    {{"Maharashtra"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Country  :</label>
                                </div>
                                <div class="col-md-8">
                                    {{"India"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <!--<label class="control-label"> :</label>-->
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-info"  data-toggle="modal" data-target="#viewContactDetails">View Point of Contact</button>
                                </div>
                            </div>

                        </div>

                 </div>
              </div><br>

            <div id="quotation-details">
             <div class="row">
                 <div class="col-md-6">
                    <h3 class="panel-title"><strong>Quotation Details</strong></h3>
                 </div>
                 <div class="col-md-6">
                     <div class="col-md-4">
                         <!--<label class="control-label"> :</label>-->
                     </div>
                     <div class="col-md-8">
                     <a ui-sref="Process.addQuotation"><input type="button" class="btn btn-info" value="Add Quotation"/></a>
                    </div>
                 </div>
             </div>
             <br>
             <div class="row">

                 <table class="table table-bordered">
                     <thead>
                     <tr>
                         <th>Sr.No</th>
                         <th>Quotation</th>
                         <th>Company</th>
                         <th>Date</th>
                         <th>Actions</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                         <td>1</td>
                         <td>Quotation1</td>
                         <td>Company1</td>
                         <td>10-02-2016</td>

                         <td>
                             <a ui-sref="Process.viewQuotation"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                             <button class="btn btn-default btn-sm"><span class="fa fa-pencil-square-o"></span>Revise</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                         </td>
                     </tr>
                     <tr>
                         <td>2</td>
                         <td>Quotation2</td>
                         <td>Company2</td>
                         <td>10-02-2016</td>

                         <td>
                             <a ui-sref="Process.viewQuotation"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                             <button class="btn btn-default btn-sm"><span class="fa fa-pencil-square-o"></span>Revise</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                         </td>
                     </tr>
                     <tr>
                         <td >2</td>
                         <td >Quotation3</td>
                         <td >Company2</td>
                         <td >10-02-2016</td>

                         <td>

                             <a ui-sref="Process.viewQuotation"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                             <button class="btn btn-default btn-sm"><span class="fa fa-pencil-square-o"></span>Revise</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                             <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                         </td>
                     </tr>

                     </tbody>
                 </table>

             </div>

         </div><br>

             <div id="workorder-details">
                 <div class="row">
                     <div class="col-md-6">
                         <h3 class="panel-title"><strong>Workorder Details</strong></h3>
                     </div>
                     <div class="col-md-6">
                         <div class="col-md-4">
                             <!--<label class="control-label"> :</label>-->
                         </div>
                         <div class="col-md-8">
                             <a ui-sref="Process.AttachWorkorder"><input type="button" class="btn btn-info" value="Attach Workorder"/></a>
                         </div>
                     </div>
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered">
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Work Order</th>
                             <th>Quotation</th>
                             <th>Date</th>
                             <th>Actions</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <td>1</td>
                             <td>Work order 1</td>
                             <td>Quotation1</td>
                             <td>10-02-2016</td>

                             <td>

                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>

                             </td>
                         </tr>
                         <tr>
                             <td>2</td>
                             <td>Quotation2</td>
                             <td>Company2</td>
                             <td>10-02-2016</td>

                             <td>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>

                             </td>
                         </tr>
                         <tr>
                             <td>2</td>
                             <td>Work order 2</td>
                             <td>Quotation 2</td>
                             <td>10-02-2016</td>

                             <td>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                             </td>
                         </tr>

                         </tbody>
                     </table>

                 </div>

             </div><br>


             <div id="invoice-details">
                 <div class="row">
                     <div class="col-md-6">
                         <h3 class="panel-title"><strong>Invoice Details</strong></h3>
                     </div>
                     <div class="col-md-6">
                         <div class="col-md-4">
                             <!--<label class="control-label"> :</label>-->
                         </div>
                         <div class="col-md-8">
                             <a ui-sref="Process.addInvoice"><input type="button" class="btn btn-info" value="Create Invoice"/></a>
                         </div>
                     </div>
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered">
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Invoice Name</th>
                             <th>Quotation</th>
                             <th>Date</th>
                             <th>Actions</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <td>1</td>
                             <td>Invoice 1</td>
                             <td>Quotation 1</td>
                             <td>10-02-2016</td>

                             <td>
                                 <a ui-sref="Process.viewInvoice"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                             </td>
                         </tr>
                         <tr>
                             <td>3</td>
                             <td>Invoice 2</td>
                             <td>Quotation 2</td>
                             <td>10-02-2016</td>

                             <td>
                                 <a ui-sref="Process.viewInvoice"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                             </td>
                         </tr>
                         <tr>
                             <td >3</td>
                             <td >Invoice 3</td>
                             <td>Quotation 3</td>
                             <td >10-02-2016</td>
                             <td >
                                 <a ui-sref="Process.viewInvoice"><button class="btn btn-default btn-sm"><span class="fa fa-eye"></span>View</button></a>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-download"></span>Download</button>
                                 <button class="btn btn-default btn-sm"><span class="fa fa-edit"></span>Schedule Followup</button>
                             </td>
                         </tr>

                         </tbody>
                     </table>

                 </div>

             </div><br>


             <div id="payment-details">
                 <div class="row">
                     <div class="col-md-6">
                         <h3 class="panel-title"><strong>Payment Details</strong></h3>
                     </div>
                     <div class="col-md-6">
                         <div class="col-md-4">
                             <a ui-sref="Process.addPayment"><input type="button" class="btn btn-info" value="Add Payment"/></a>
                         </div>
                         <div class="col-md-4">
                           <a ui-sref="Process.PaymentHistory"><button class="btn btn-info">View Payment History</button></a>
                         </div>
                     </div>
                 </div>
                 <br>
                 <div class="row">

                     <table class="table  table-bordered">
                         <thead>
                         <tr>
                             <th>Sr.No</th>
                             <th>Invoice Name</th>
                             <th>Payment Received</th>
                             <th>Payment Remaining</th>

                         </tr>
                         </thead>
                         <tbody>
                         <tr1>
                             <td>1</td>
                             <td>Invoice 1</td>
                             <td>10000</td>
                             <td>20000</td>


                         </tr1>
                         <tr>
                             <td>2</td>
                             <td>Invoice 2</td>
                             <td>50000</td>
                             <td>10000</td>


                         </tr>
                         <tr>
                             <td>2</td>
                             <td>Invoice 3</td>
                             <td>100000</td>
                             <td>150000</td>


                         </tr>

                         </tbody>
                     </table>

                 </div>

             </div><br>


         </div>
        <div class="panel-footer">

            <button  ng-click="closeProject()" class="btn  btn-danger pull-right">Close Project <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

            <button ng-click="clearFields()" class="btn  btn-default pull-right">Cancel</button>

        </div>

    </div>

</div>


<!--Modal To view Contact details-->
<div class="modal fade" id="viewContactDetails" role="dialog" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Point of Conatct Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                     <div class="form-horizontal">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Name :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{"Namdev Devmare"}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Email Id :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{"namdev@gmail.com"}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Landline No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{"020-202021"}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Mobile No :</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{"9090220707"}}
                                    </div>
                                </div>

                            </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <!--End of modal-footer-->
        </div>
        <!--End of Modal Content-->
    </div>
    <!--End of modal dialog-->
</div>
