
    <div class="col-md-12">

        <div class="row stacked">
            <div class="col-md-3">
                <div class="input-group col-md-11">
                    <select class="form-control"
                            ng-model="SearchTerm" value="">
                        <option value="" disabled selected>Quotation name</option>
                        <option value="" disabled selected>Quotation 1</option>
                        <option value="" disabled selected>Quotation 2</option>
                        <option value="" disabled selected>Quotation 3</option>
                        <option value="" disabled selected>Quotation 4</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group col-md-8">
                    <select class="form-control"
                            ng-model="SearchTerm" value="">
                        <option value="" disabled selected>Sort by</option>
                        <option value="" disabled selected>Type 1</option>
                        <option value="" disabled selected>Type 2</option>
                        <option value="" disabled selected>Type 3</option>
                        <option value="" disabled selected>Type 4</option>
                    </select>
                </div>
            </div>


            <div class="search-results" ng-controller="" style="margin-top:20px;">

                <div class="sr-item">
                    <div class="sr-item-title">Quotation follow up</div>


                    <div class="table-responsive push-up-10">
                        <table class="table table-actions table-striped">
                            <thead>
                            <tr>
                                <th width="5%">Sr.No</th>
                                <th width="10%">Follow-up description</th>
                                <th width="10%">Actual follow-up date</th>
                                <th width="10%">Schedule follow-up date</th>
                                <th width="15%">Follow-up by</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="5%">1</td>
                                <td width="20%">abcnnisdivni</td>
                                <td width="10%">gdgdb</td>
                                <td width="15%">nj</td>
                                <td width="15%">niurhiurh</td>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <uib-pagination total-items="totalItems" ng-model="currentPage"
                                max-size="10" boundary-links="true"
                                items-per-page="" class="pagination-sm">
                </uib-pagination>
            </div>
            <!-- END SEARCH RESULT -->

        </div>
