<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>Create Project</strong> Quotation </h3>

        </div>
        <div class="panel-body">

            <form name="QuotationForm" class="form-horizontal" novalidate>

                <div class="row">
                    <h3 class="panel-title"><strong>Create</strong> Quotation </h3>
                </div><br>
                <div class="row">

                      <div class="col-md-6">

                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Project Name :</label>
                              </div>
                              <div class="col-md-8">
                                    <select class="form-control select" name="project" ng-model="QuotationDetails.projectId"  ng-change="getCustomerForProject()" required>
                                    <option value="" disabled selected>Choose Project..</option>
                                      <option value="Select Project" disabled selected>Select Project</option>
                                      <option  ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                                  </select>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.project.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Project Name is required</span>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Quotation Title :</label>
                              </div>
                              <div class="col-md-8">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                      <input type="text" class="form-control" name="QuotationTitle" ng-model="QuotationDetails.quotationTitle" pattern="[a-zA-Z0-9 ]+" required/>
                                  </div>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.QuotationTitle.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Quotation Title is required</span>
                                      <span style="color:red" ng-message="pattern">Alphanumeric value is allowed</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Quotation Date :</label>
                              </div>
                              <div class="col-md-8">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                      <input type="text" class="form-control" name="QuotationDate" ng-model="QuotationDetails.quotationDate" ng-click="quotationDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="showQdate.opened" datepicker-options="dateOptions" show-button-bar="false" readonly required/>
                                  </div>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.QuotationDate.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Quotation Date is required</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Quotation Subject :</label>
                              </div>
                              <div class="col-md-8">
                                    <textarea class="form-control" name="subject"
                                              rows="2" ng-model="QuotationDetails.quotationSubject" pattern="[a-zA-Z0-9 ]+" required>
                                    </textarea>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.subject.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Quotation Subject is required</span>
                                      <span style="color:red" ng-message="pattern">Alphanumeric values are allowed</span>
                                  </div>
                              </div>
                          </div>

                      </div>

                      <div class="col-md-6">

                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Company Name :</label>
                              </div>
                              <div class="col-md-8">
                                  <select class="form-control select" name="company" ng-options = "company.company_name for company in Companies" ng-model="QuotationDetails.companyName" required>
                                      <option value="" disabled selected>Choose Company..</option>
                                      <option  value="company.company_id" >{{company.company_name}}</option>
                                  </select>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.company.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Company Name is required</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Reference No :</label>
                              </div>
                              <div class="col-md-8">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                      <input type="text" class="form-control" name="ReferenceNo" ng-model="QuotationDetails.referenceNo" pattern="[a-zA-Z0-9 ]+" required/>
                                  </div>
                                  <div class="help-block"
                                       ng-messages="QuotationForm.ReferenceNo.$error"
                                       ng-show="formSubmitted">
                                      <span style="color:red" ng-message="required">Reference Number is required</span>
                                      <span style="color:red" ng-message="pattern">Alphanumeric values are allowed</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-4">
                                  <label class="control-label">Attach Quotation :</label>
                              </div>
                              <div class="col-md-8">
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                      <input type="file" class="form-control" name="QuotationBlob" file-model="myFile"/>
                                  </div>

                              </div>
                          </div>



                      </div>



                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Quotation </strong>Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">

                            <div class="col-md-4">

                                <label class="control-label">Number of Rows</label>

                            </div>
                            <div class="col-md-8">

                                <div class="col-md-10">

                                    <div class="input-group">

                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>

                                        <input type="text" name="noOfRows" ng-model="noOfRows"
                                               class="form-control" pattern="[0-9]+" maxlength="2">

                                    </div>
                                    <div class="help-block"
                                         ng-messages="QuotationForm.noOfRows.$error"
                                         ng-show="formSubmitted">
                                        <span style="color:red" ng-message="pattern">Please Enter only digits</span>
                                    </div>

                                </div>

                                <div class="col-md-2">

                                    <button class="btn btn-primary" ng-click="addRows()">Add</button>

                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">

                            <button class="btn btn-primary" ng-click="addTax('md')">Add Tax</button>

                        </div>

                    </div>

                </div><br>

                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width=7%>Item No</th>
                            <th width=20%>Title</th>
                            <th width=23%>Description</th>
                            <th width=15%>Quantity</th>
                            <th width=15%>Unit</th>
                            <th width=15%>Unit rate</th>
                            <th width=12%>Amount</th>
                            <th width=2%>Tax</th>
                            <th width=2%>Remove</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="quotation in QuotationDetails.quotationItemDetails">
                            <td>{{$index+1}}</td>
                            <td>
                                <input type="text" name="Title" placeholder="Title"
                                       class="form-control" ng-model="quotation.quotationItem" pattern="[a-zA-Z0-9 ]+"/>
                                <div class="help-block"
                                     ng-messages="QuotationForm.Title.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="pattern">Alphnumeric values are allowed</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="Description" placeholder="Description"
                                       class="form-control" ng-model="quotation.quotationDescription"  pattern="[a-zA-Z0-9 ]+"/>
                                <div class="help-block"
                                     ng-messages="QuotationForm.Description.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="pattern">Alphnumeric values are allowed</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="Quantity" placeholder="Quantity"
                                       class="form-control" ng-model="quotation.quotationQuantity" ng-change="calculateAmount($index)" pattern="[0-9]+"/>
                                <div class="help-block"
                                     ng-messages="QuotationForm.Quantity.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="pattern">Only digits are allowed</span>
                                </div>
                            </td>
                            <td><input type="text" name="Unit" placeholder="Unit"
                                       class="form-control" ng-model="quotation.quotationUnit" pattern="[a-zA-Z]+"/>
                                <div class="help-block"
                                     ng-messages="QuotationForm.Unit.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="pattern">Only alphabets are allowed</span>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="UnitRate" placeholder="Unit Rate"
                                       class="form-control" ng-model="quotation.quotationUnitRate" ng-change="calculateAmount($index);calculateTotal(quotation.amount)"
                                       pattern="[0-9]+"/>
                                <div class="help-block"
                                     ng-messages="QuotationForm.UnitRate.$error"
                                     ng-show="formSubmitted">
                                    <span style="color:red" ng-message="pattern">Only digits are allowed</span>
                                </div>
                            </td>
                            <td>
                                {{quotation.amount}}
                            </td>
                            <td>
                                <input type="checkbox" name="addTax" ng-model="quotation.isTaxAplicable" ng-click="calculateTaxableAmount($index)"/>
                            </td>
                            <td>
                                <a ng-click="removeQuotationItem($index)" class="panel-remove">
                                    <span class="fa fa-times"></span>
                                </a>
                            </td>
                        </tr>

                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-4">
                            <label class="control-label">Total Amount :</label>
                        </div>
                        <div class="col-md-8" ng-model="totalAmnt">
                                {{totalAmnt}}
                        </div>
                    </div>
                </div><br>


                <div class="row">
                    <h3 class="panel-title"><strong>Tax </strong>Details </h3>
                </div><br>
                <!--<div class="row">-->

                    <!--<div class="col-md-6">-->

                        <!--<div class="form-group">-->

                            <!--<div class="col-md-4">-->

                                <!--<label class="control-label">Number of Taxes</label>-->

                            <!--</div>-->
                            <!--<div class="col-md-8">-->

                                <!--<div class="col-md-10">-->

                                    <!--<div class="input-group">-->

                                        <!--<span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->

                                        <!--<input type="text" name="noOfTaxes" ng-model="noOfTaxes"-->
                                               <!--class="form-control">-->

                                    <!--</div>-->



                                <!--</div>-->

                                <!--<div class="col-md-2">-->

                                    <!--<button class="btn btn-primary" ng-click="addTaxes()">Add</button>-->

                                <!--</div>-->

                            <!--</div>-->

                        <!--</div>-->


                    <!--</div>-->


                <!--</div><br>-->

                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Tax Title</th>
                            <th>Applicable To</th>
                            <th>Percentage</th>
                            <th>Tax Amount</th>
                            <th>Remove</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="tax in taxDetails">
                            <td>{{$index+1}}</td>
                            <td>
                                <input type="text" name="TaxTitle" placeholder="Title"
                                       class="form-control" ng-model="tax.taxTitle"/>
                            </td>
                            <td>
                                <input type="text" name="TaxTitle" placeholder="Title"
                                       class="form-control" ng-model="tax.taxApplicableTo"/>
                            </td>
                            <td>
                                <input type="text" name="TaxPercentage" placeholder="Percentage"
                                       class="form-control" ng-model="tax.taxPercentage"/>
                            </td>
                            <td>
                                <input type="text" name="TaxAmount" placeholder="Tax Amount"
                                       class="form-control" ng-model="tax.amount" ng-change ="totalTaxAmount(tax.amount)"/>
                            </td>

                            <td>
                                <a ng-click="removeTaxItem($index)" class="panel-remove">
                                    <span class="fa fa-times"></span>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-4">
                            <label class="control-label">Total Tax :</label>
                        </div>
                        <div class="col-md-8" ng-model = "TaxAmnt">
                            {{TaxAmnt}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-7 col-md-5">
                        <div class="col-md-4">
                            <label class="control-label"><strong>Total Amount :</strong></label>
                        </div>
                        <div class="col-md-8">
                            {{totalAmnt + TaxAmnt}}
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right" ng-click="(formSubmitted=true) && QuotationForm.$valid && createQuotation()">Submit<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button class="btn  btn-info pull-right" ng-click="createQuotationDoc()">Create Doc</button>
            <button class="btn  btn-default ">Clear Form</button>
        </div>
    </div>

</div>