<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><strong>Site Tracking</strong> History</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="row">
                <!--<div class="col-md-5">-->

                    <!--<div class="col-md-3">-->
                        <!--<label class="control-label">Sort By :</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-9">-->
                        <!--<select class="form-control select" name="sortBy" ng-model="sortExpression"/>-->
                        <!--<option value="" disabled selected>Sort by </option>-->
                        <!--<option value="afollowupDate">Actual Followup date</option>-->
                        <!--<option value="sfollowupDate">Scheduled Followup date</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-8">

                    <div class="col-md-3">
                        <label class="control-label">Project Name  :</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="projects" ng-model="selectedProject"  typeahead-on-select="selectProject($item, $model, $label)" uib-typeahead="project as project.name for project in projects | filter:$viewValue" typeahead-editable="false" typeahead-no-results="noProject" required  placeholder="Enter project name"/>
                        <!--<select class="form-control select"  ng-model= "selectedProjectId" ng-change = "selectProject()" name="projects">-->
                            <!--<option value="" disabled selected>Choose project </option>-->
                            <!--<option  ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>-->

                        <!--</select>-->
                        <span style="color:red" ng-if="noProject">Project does not exist </span>
                    </div>

                </div>


                <div class="col-md-1">
                    <div class="input-group" >

                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click= "show()">Show</button>
                        </div>
                    </div>
                </div>

            </div><br>


            <div class="table-responsive push-up-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>
                            <a ng-click="sortType = 'followup.followup_title'; sortReverse = !sortReverse">Followup Title
                                <span ng-show="sortType == 'followup.followup_title' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'followup.followup_title' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        <th>
                            <a ng-click="sortType = 'followup.followup_date'; sortReverse = !sortReverse">Scheduled Followup Date
                                <span ng-show="sortType == 'followup.followup_date' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'followup.followup_date' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Followup Note</th>
                        <th>Actual Followup Date</th>
                        <th>
                            <a ng-click="sortType = 'followup.followup_by'; sortReverse = !sortReverse">Followup By
                                <span ng-show="sortType == 'followup.followup_by' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'followup.followup_by' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "followup in followups | orderBy:sortType:sortReverse">
                        <td>{{$index+1}}</td>
                        <td> {{followup.followup_title}}</td>
                        <td> {{followup.followup_date}}</td>
                        <td> {{followup.followup_description}}</td>
                        <td>{{followup.followup_conductionDate}}</td>
                        <td>{{followup.followup_by}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <uib-pagination total-items="followups.length" ng-model="currentPage"
                    max-size="10" boundary-links="true"
                    items-per-page="SiteTrackingHistoryPerPage" class="pagination-sm">
    </uib-pagination>

</div>