<div class="col-md-12">
<!-- START SEARCH -->
<div class="panel panel-default">
    <div class="panel-body form-horizontal">
        <div class="row">
            <div class="col-md-4">

                    <select class="form-control select" name="searchBy" ng-model="sortExpression"/>
                    <option value="" disabled selected>Search by </option>>
                    <option value="project_name">Name</option>
                    <option value="project_city">City</option>
                    </select>

            </div>
            <div class="col-md-8">
                <div class="input-group" >
                    <span class="input-group-addon"><span class="fa fa-search"></span></span>

                    <input type="text" class="form-control" placeholder="Keywords..." value="" ng-model="searchKeyword.$"/>

                    <div class="input-group-btn">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">

            <div class="col-md-4">
                <input type="checkbox" ng-model="sortByPayment" name="sort" value="true"> Payment
            </div>
            <div class="col-md-4">
                <input type="checkbox" ng-model="sortByQuotation" name="sort" value="true" >  Quotation
            </div>
            <div class="col-md-4">
                <input type="checkbox" ng-model="sortByCurrentWorking" name="sort" value="true">  Currently Working
            </div>
        </div>
    </div>
</div>
<!-- END SEARCH -->

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><strong>Projects</strong>Details</h3>
        </div>

        <div class="panel-body">

            <div class="table-responsive push-up-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Project Name</th>
                    <th>Current Status</th>
                    <th>Project Manager</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project  in Projects | filter :paginate | filter :searchKeyword | orderBy :sortExpression | orderBy:'payment_status':sortByPayment | orderBy:'project_quotation':sortByQuotation | orderBy:'project_status':sortByCurrentWorking">
                    <td>{{$index + 1}}</td>
                    <td>{{project.project_name}}</td>
                    <td>{{project.project_status}}</td>
                    <td>{{project.project_manager}}</td>

                    <td>
                        <a ui-sref="Process.ProjectDetails"><input type="button" class="btn btn-info" value="View"/></a>
                        <a ui-sref="Process.modifyProject"><input type="button" class="btn btn-info" value="Modify"/></a>
                        <a href=""><input type="button" class="btn btn-danger" value="Delete"/></a>
                        <!--<div class="col-md-4">-->
                            <!--<a ui-sref="Process.createCostCenter"><input type="button" class="btn btn-info" value="Create Cost Center"/></a>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<a ui-sref="Process.searchExpense"><input type="button" class="btn btn-info"  value="View Cost Center"/></a>-->
                        <!--</div>-->
                    </td>
                </tr>
                </tbody>
             </table>
             </div>
        </div>

    </div>
    <uib-pagination total-items="totalItems" ng-model="currentPage"
                    max-size="5" boundary-links="true"
                    items-per-page="ProjectPerPage" class="pagination-sm">
    </uib-pagination>
</div>




