<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>Project Quotation</strong>Details </h3>

        </div>
        <div class="panel-body">

            <form name="ViewQuotationForm" class="form-horizontal">

                <div class="row">
                    <h3 class="panel-title"><strong>Basic</strong> Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Project Name :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{projectName}}</label>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Title :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.quotationTitle}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.creationDate}}</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Subject :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{viewQuotationDetail.subject}}</label>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Company Name :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{viewQuotationDetail.companyName}}</label>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Reference No :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.refNo}}</label>

                                </div>

                            </div>
                        </div>



                    </div>



                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Quotation </strong>Details </h3>
                </div><br>


                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Of Measure</th>
                            <th>Unit rate</th>
                            <th>Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="q in qDetails">
                            <td>{{$index + 1}}</td>
                            <td>
                                {{q.title}}
                            </td>
                            <td>
                                {{q.description}}
                            </td>
                            <td>
                               {{q.quantity}}
                            </td>
                            <td>
                                {{q.unit}}
                            </td>
                            <td>
                                {{q.unitRate}}
                            </td>
                            <td>
                                {{q.amount}}
                            </td>

                        </tr>

                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Amount :</label>
                        </div>
                        <div class="col-md-5" ng-click="getTotal()">
                            <label class="control-label">{{ totalAmount }}</label>
                        </div>
                    </div>
                </div><br>


                <div class="row">
                    <h3 class="panel-title"><strong>Tax </strong>Details </h3>
                </div><br>

                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Tax Applicable To</th>
                            <th>Percentage</th>
                            <th>Tax Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="qt in qTaxDetails">
                            <td>{{$index+1}}</td>
                            <td>{{qt.taxName}}</td>
                            <td>
                                {{qt.taxApplicableTo}}
                            </td>
                            <td>
                                {{qt.taxPercentage}}
                            </td>
                            <td>
                                {{qt.taxAmount}}
                            </td>

                        </tr>
                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Tax :</label>
                        </div>
                        <div class="col-md-5" >
                            <label class="control-label"> {{TotalTax}}</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-7 col-md-5">
                        <div class="col-md-7">
                            <label class="control-label"><strong>GRAND AMOUNT(Amount + Tax) :</strong></label>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">{{totalAmount + TotalTax}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>