<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>View Invoice</strong> Details </h3>

        </div>
        <div class="panel-body">

            <!--Form Starts here-->
            <form class="form-horizontal">

                <div class="row">
                    <h3 class="panel-title"><strong>Invoice</strong> Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Invoice Number :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">

                                    <label class="control-label">{{invoiceDetail.invoiceNumber}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Number :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{invoiceDetail.quotationNumber}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">WorkOrder Number :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group" ng-repeat = "wo in wDetails">
                                    <label class="control-label">{{wo.workOrderNo}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Contact Person :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{contactPerson}}</label>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Invoice Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{invoiceDetail.invoiceDate}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{invoiceDetail.quotationDate}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Workorder Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group" ng-repeat="wo in wDetails">
                                    <label class="control-label">{{wo.creationDate}}</label>

                                </div>

                            </div>
                        </div>
                    </div>

                </div><br>
                <div class="row">

                    <h3 class="panel-title"><strong>Quotation</strong> Abstract </h3>

                </div><br>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit rate</th>
                            <th>Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat = "q in qDetails">
                            <td>{{$index+1}}</td>
                            <td>
                                {{q.title}}
                            </td>
                            <td>
                                {{q.description}}
                            </td>
                            <td>
                                {{q.quantity}}
                            </td>
                            <td>
                                {{q.unitRate}}
                            </td>
                            <td>
                                {{q.amount}}
                            </td>

                        </tr>
                    </table>

                </div>
                <!--  <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Amount :</label>
                        </div>
                        <div class="col-md-5" >
                            <label class="control-label"> {{getTotalAmount()}}</label>
                        </div>
                    </div> -->

                <br>

                <div class="row">
                    <h3 class="panel-title"><strong>Tax </strong>Details </h3>
                </div><br>

                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
							<th>Tax Applicable To</th>
                            <th>Percentage</th>
                            <th>Tax Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="qt in qDetails">
                            <td>1</td>
                            <td>{{qt.taxName}}</td>
							<td>Please Specify Binding</td>
                            <td>
                                {{qt.taxPercentage}}
                            </td>
                            <td>
                                {{qt.taxAmount}}
                            </td>

                        </tr>
                    </table>

                   <!--  <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Tax :</label>
                        </div>
                        <div class="col-md-5" >
                            <label class="control-label"> {{getTotalTax()}}</label>
                        </div>
                    </div> -->
                </div>

                <div class="row form-horizontal">

                    <div class="col-md-offset-6 col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label"><strong>Total Amount :</strong></label>
                            </div>
                            <div class="col-md-8" >
                                <label class="control-label">{{getTotalAmount()}}</label>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label"><strong>Rounding Off :</strong></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group" >
                                    <label class="control-label">{{getTotalRoundingOffFactor()}}</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label"><strong>Grand  Total :</strong></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group" >
                                    <label class="control-label">{{getTotalGrandTotal()}}</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>



            </form>
            <!--End of Form-->
        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right">Cancel<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>

        </div>

    </div>

</div>