<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="panel-title"><strong>Project Quotation</strong>Details </h3>

        </div>
        <div class="panel-body">

            <form name="ViewQuotationForm" class="form-horizontal">

                <div class="row">
                    <h3 class="panel-title"><strong>Basic</strong> Details </h3>
                </div><br>
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Project Name :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{viewQuotationDetail.projectName}}</label>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Title :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.quotationTitle}}</label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Date :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.creationDate}}</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Quotation Subject :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{viewQuotationDetail.subject}}</label>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Company Name :</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">{{viewQuotationDetail.companyId}}</label>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">Reference No :</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label">{{viewQuotationDetail.refNo}}</label>

                                </div>

                            </div>
                        </div>



                    </div>



                </div><br>
                <div class="row">
                    <h3 class="panel-title"><strong>Quotation </strong>Details </h3>
                </div><br>


                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Of Measure</th>
                            <th>Unit rate</th>
                            <th>Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="q in qDetails">
                            <td>{{$index + 1}}</td>
                            <td>
                                {{q.title}}
                            </td>
                            <td>
                                {{q.description}}
                            </td>
                            <td>
                               {{q.quantity}}
                            </td>
                            <td>
                                {{q.unit}}
                            </td>
                            <td>
                                {{q.unitRate}}
                            </td>
                            <td>
                                {{q.amount}}
                            </td>

                        </tr>
                        <!-- <tr>
                            <td>2</td>
                            <td>
                                {{"Quotation For Material 1"}}
                            </td>
                            <td>
                                {{"Quotation Description demo"}}
                            </td>
                            <td>
                                {{"100"}}
                            </td>
                            <td>
                                {{"sqft"}}
                            </td>
                            <td>
                                {{"100 Rs"}}
                            </td>
                            <td>
                                {{"10000"}}
                            </td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                {{"Quotation For Material 3"}}
                            </td>
                            <td>
                                {{"Quotation Description demo 3"}}
                            </td>
                            <td>
                                {{"10"}}
                            </td>
                            <td>
                                {{"sqft"}}
                            </td>
                            <td>
                                {{"100 Rs"}}
                            </td>
                            <td>
                                {{"1000"}}
                            </td>

                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                {{"Quotation For Material 4"}}
                            </td>
                            <td>
                                {{"Quotation Description demo 4"}}
                            </td>
                            <td>
                                {{"10"}}
                            </td>
                            <td>
                                {{"inch"}}
                            </td>
                            <td>
                                {{"10 Rs"}}
                            </td>
                            <td>
                                {{"100"}}
                            </td>

                        </tr> -->
                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Amount :</label>
                        </div>
                        <div class="col-md-5" ng-click="getTotal()">
                            <label class="control-label">{{ getTotalAmount() }}</label>
                        </div>
                    </div>
                </div><br>


                <div class="row">
                    <h3 class="panel-title"><strong>Tax </strong>Details </h3>
                </div><br>

                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Percentage</th>
                            <th>Tax Amount</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="qt in qTaxDetails">
                            <td>1</td>
                            <td>{{qt.taxName}}</td>
                            <td>
                                {{qt.taxPercentage}}
                            </td>
                            <td>
                                {{qt.taxAmount}}
                            </td>

                        </tr>
                    </table>

                    <div class="col-md-offset-7 col-md-5">

                        <div class="col-md-7">
                            <label class="control-label">Total Tax :</label>
                        </div>
                        <div class="col-md-5" >
                            <label class="control-label"> {{getTotalTax()}}</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-7 col-md-5">
                        <div class="col-md-7">
                            <label class="control-label"><strong>GRAND AMOUNT(Amount + Tax) :</strong></label>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">{{+getTotalAmount() + +getTotalTax()}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">

            <button class="btn  btn-danger pull-right">Submit<span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
            <button class="btn  btn-default pull-right">Clear Form</button>
        </div>
    </div>

</div>