<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div ng-show="step==1">

    <!--<div ng-include="'Inventory/html/outward/Inventory_Outward_Item.html'"></div>-->
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" name="outwardMaterialForm" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>Outward Entry</strong></h4>
                    </div>

                    <div class="panel-body">
                        <div>
                            <h5>Basic Details</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Outward Number</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input maxlength="50" type="text" ng-disabled="availableTotalquantity==0" class="form-control" ng-model="OutwardData.OutwardNumber"
                                                   name="OutwardNumber" required/>
                                        </div>
                                        <div class="help-block" ng-messages="outwardMaterialForm.OutwardNumber.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please enter outward number</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Company</label>
                                    <div class="col-md-9">
                                        <select class="btn dropdown-toggle selectpicker btn-default" ng-disabled="availableTotalquantity==0"
                                                ng-model="OutwardData.companyName" name="companyName" required>
                                            <option value="" disabled selected>Select Company</option>
                                            <option ng-repeat="x in Company"
                                                    value={{x.companyId}}>{{x.companyName}}
                                            </option>
                                        </select>
                                        <div class="help-block" ng-messages="outwardMaterialForm.companyName.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please select company name</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Suppervisor</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input maxlength="20" type="text" ng-disabled="availableTotalquantity==0" class="form-control" ng-model="OutwardData.suppervisor" name="suppervisor" required/>
                                        </div>
                                        <div class="help-block" ng-messages="outwardMaterialForm.suppervisor.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please enter suppervisor name</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Number of Materials</label>

                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="number" name="noOfElement" ng-model="noOfElement"
                                                   class="form-control" pattern="[0-9]+">
                                        </div>
                                        <div class="help-block" ng-messages="outwardMaterialForm.noOfElement.$error"
                                             ng-show="submitted">
                                        <span style="color:red"
                                              ng-message="pattern">Only numeric value is allowed</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" ng-click="addFields()">Add</button>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Date</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input readonly type="text" ng-disabled="availableTotalquantity==0" class="form-control datepicker" ng-model="OutwardData.date" name="date" ng-click="open1()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="popup1.opened" datepicker-options="dateOptions"  show-button-bar="false" ng-required="true"/>
                                        </div>
                                        <div class="help-block" ng-messages="outwardMaterialForm.date.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please enter date</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Warehouse</label>
                                    <div class="col-md-9">
                                        <select class="btn dropdown-toggle selectpicker btn-default" ng-disabled="availableTotalquantity==0"
                                                ng-model="OutwardData.warehouseName" name="warehouseName" required>
                                            <option value="" disabled selected>Select Warehouse</option>
                                            <option ng-repeat="x in warehouses"
                                                    value={{x.warehouseId}}>{{x.wareHouseName}}
                                            </option>
                                        </select>
                                        <div class="help-block" ng-messages="outwardMaterialForm.warehouseName.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please select warehouse name</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Has Transport?</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="btn dropdown-toggle selectpicker btn-default" ng- ng-disabled="availableTotalquantity==0" ng-model="OutwardData.hasTransportDetails" ng-value="Select" name="hasTransportDetails" required>
                                            <option value="" disabled selected>Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="help-block" ng-messages="outwardMaterialForm.hasTransportDetails.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please select the transport requirement</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row" style="margin-top: 3%">
                            <p style="color:red" ng-if="getNoOfMaterials()==0">Please add atleast one material</p>
                            <table class="table table-actions">
                                <thead>
                                <tr>
                                    <th>Material</th>
                                    <th>Quantity</th>
                                    <th>Packaging Type</th>
                                    <th>Packaging Size</th>
                                    <th>Unit</th>
                                    <th>Available Quantity</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="materials in OutwardData.outwardMaterials">

                                    <td>
                                        <select class="btn dropdown-toggle selectpicker btn-default" ng-change="selected=true"
                                                ng-model="materials.material" ng-value="Select" name="material" required>
                                            <option value="" disabled selected>Select Material</option>
                                            <option ng-repeat="x in materialsForOutward" value={{x.materialid}}>{{x.productname}}</option>

                                        </select>
                                        <div class="help-block" ng-messages="outwardMaterialForm.material.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please select material</p>
                                        </div>
                                    </td>
                                    <td>
                                        <input maxlength ="11" type="number" min="1" ng-disabled="availableTotalquantity==0" class="form-control"
                                               ng-model="materials.materialQuantity" name="materialQuantity" required/>
                                        <div class="help-block" ng-messages="outwardMaterialForm.materialQuantity.$error" ng-show="submitted">
                                            <p style="color:red" ng-message="required">Please enter material quantity</p>
                                        </div>
                                    </td>

                                    <td>
                                        <input type="text" ng-disabled="availableTotalquantity==0" class="form-control"
                                               ng-model="materials.packageUnit" name="packageUnit" required/>

                                    </td>
                                    <td>

                                        <input maxlength="20" type="text" class="form-control" ng-model="materials.packagesize"
                                               name="size"  />

                                        <div class="help-block" ng-messages="inwardEntryForm.packagesize.$error"
                                             ng-show="submitted">
                                            <p style="color:red" ng-message="pattern">Only Numeric values allowed</p>
                                        </div>
                                    </td>
                                    <td>
                                        <!--{{getAvailableQty(materials.material)}}-->
                                        <label >{{getUnit(materials.material)}}</label>
                                    </td>
                                    <!--<td>-->
                                        <!--<button ng-show="selected==true" data-target="#showAvailablequantity" data-ng-click="getAvailableQuantiyPerPackage(materials.material)" data-toggle="modal" class="btn btn-primary btn-sm"><span class="fa fa-eye"></span>Available Qty</button>-->

                                    <!--</td>-->
                                    <td>
                                        <label  name="availableQty">{{getAvailableQty(materials.material)}}</label>
                                        <div class="help-block" ng-show="availableTotalquantity==0">
                                            <span style="color:red">Selected material is not available. Contact inventory manager</span>
                                        </div>
                                        <div class="help-block" ng-show="availableTotalquantity< materials.materialQuantity">
                                            <span style="color:red" >Don't have sufficient quantity available in stock. Current available quantity is {{availableTotalquantity}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <a ng-click="remove($index)" class="panel-remove">
                                            <span class="fa fa-times"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer" style="text-align:center">
                        <button class="btn btn-default" ng-disabled="availableTotalquantity==0" ng-click="clearFields(OutwardData)">Clear Form</button>
                        <button class="btn btn-primary" ng-disabled="availableTotalquantity==0"
                                data-ng-click="(submitted=true) && getNoOfMaterials()>0 && outwardMaterialForm.$valid && nextStep()">Submit</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div ng-show="step==2">

    <div ng-include="'Inventory/html/outward/Inventory_Outward_Transport_Details.html'"></div>

</div>

<!-- MODAL SHOOW AVAILABLE QUANTITY -->
<div class="modal fade" id="showAvailablequantity" role="dialog">
    <div class="modal-dialog">
        <form class="form-horizontal">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Available Quantity.</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-actions">
                        <thead>
                        <tr>
                            <th class="tablehead">Sr.No</th>
                            <th class="tablehead">Packaging Type</th>
                            <th class="tablehead">Packaging Size</th>
                            <th class="tablehead">Available Quantity</th>


                        </tr>
                        </thead>
                        <tr ng-repeat="product in productAvailables">
                            <td class="tablerow">
                                {{$index+1}}
                            </td>
                            <td class="tablerow">
                               {{product.packagingtype}}
                            </td>
                            <td class="tablerow">
                            {{product.packagingsize}} {{getAvailableQty(materials.material)}}
                             </td>
                            <td class="tablerow">
                                {{product.totalquantity}}
                            </td>

                        </tr>
                    </table>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!--End of modal-footer-->
            </div>
            <!--End of Modal Content-->
        </form>
    </div>
    <!--End of modal dialog-->
</div>