<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="modal-header">

    <h4 class="modal-title">Schedule Follow Up </h4>
</div>
<div class="modal-body">
    <div class="row">
        <form  name="applicatorPaymentFollowUpForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-md-4  control-label">Followup Title : </label>
                <div class="col-md-8">
                    <div class="input-group col-md-8">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text"  name="title" class="form-control" required/>
                    </div>
                    <!--<div class="help-block" ng-messages="rescheduleFollowup.title.$error"">-->
                    <!--<p style="color:red" ng-message="required">Title cannot be blank</p>-->

                    <!--</div>-->
                </div>

            </div>
            <div class="form-group">

                    <label class="control-label col-md-4">Followup Date : </label>

                <div class="col-md-8">
                    <div class="input-group col-md-8">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control" ng-model="applicatorDetails.followupdate" ng-click="openFollowDate()" uib-datepicker-popup="{{'dd-MM-yyyy'}}" show-weeks="false" is-open="followup.opened" datepicker-options="dateOptions" show-button-bar="false"  ng-required="true" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group">

                    <label class="control-label col-md-4">Followup Employee Id : </label>

                <div class="col-md-8">
                    <div class="input-group col-md-8">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <select class="btn dropdown-toggle selectpicker btn-default" ng-model="applicatorDetails.followupemployeeId"
                                name="followupEmployeeId" required>
                            <option value="" disabled selected>Select Employee Id</option>
                            <option ng-repeat="x in users"
                                    value={{x.id}}>{{x.name}}
                            </option>
                        </select>
                        <!--<input type="text" class="form-control" name="followupEmployeeId" ng-model="applicatorDetails.followupemployeeId">-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="ok()">Submit</button>
    <button type="button" class="btn btn-default"
            ng-click="cancel()">Cancel</button>
</div>