<div class="modal-header">

    <h4 class="modal-title">Schedule Follow Up </h4>
</div>
<div class="modal-body">
    <div class="row">
        <form  name="applicatorPaymentFollowUpForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Followup Date</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="date" class="form-control" ng-model="applicatorDetails.followupdate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Followup Employee Id</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        <input type="text" class="form-control" name="followupEmployeeId" ng-model="applicatorDetails.followupemployeeId">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="ok()">Submit</button>
    <button type="button" class="btn btn-default"
            ng-click="cancel()">Cancel</button>
</div>