<div>
    <div ng-include="'utils/loader.html'"></div>
</div>
<div>
    <div ng-include="'utils/ErrorMessage.html'"></div>
</div>
<div>
    <div ng-include="'utils/WarningMessage.html'"></div>
</div>
<div class="panel panel-default">
    <!--Start of form heading-->
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Payment</strong> Details</h3>
    </div>
    <!--End of form heading-->

    <!--Start of Panel body-->
    <div class="panel-body">
        <!--Start of form row-->
        <div class="row">
            <!--Start of column for form-->
            
            <div class="col-md-6">
                <form  name="applicatorPaymentStatusForm" class="form-horizontal" novalidate>
                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="control-label">Payment Recieved</label>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6">
                                <input id="yesReceived" type="radio" value="Yes" ng-model="applicatorDetails.received" name="select" required/>
                                <label for="yesReceived">Yes</label>
                            </div>
                            <div class="col-md-6">
                                <input id="notReceived" type="radio" value="No" ng-model="applicatorDetails.received" name="select" required />
                                    <label for="notReceived">No</label>
                            </div>
                            <div class="help-block"
                                         ng-messages="applicatorPaymentStatusForm.select.$error"
                                         ng-show="formSubmitted">
                                        <span style="color:red" ng-message="required">Please select payment received or not</span>         
                            </div>
                         </div>
                    </div>
                </form> 
                </br>   
                 <form  name="applicatorPaymentDetailsForm" class="form-horizontal" novalidate>
                    <div id="paymentmode" ng-if="applicatorDetails.received=='Yes'">      
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Payment Mode</label>
                            </div>
                            <div class="col-md-9">                                
                                <select class="form-control select" name="paymentMode" ng-model="applicatorDetails.mode"  ng-change="(formSubmitted=false)" required />
                                    <option value="" disabled selected>Choose Mode</option>
                                    <option value="cash">Cash</option>
                                    <option value="cheque">Cheque</option>
                                    <option value="dd">DD</option>
                                    <option value="netBanking">Net Banking</option>
                                </select>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.paymentMode.$error"
                                 ng-show="formSubmitted"> 
                                 <span style="color:red" ng-message="required">Please select payment mode </span>      
                                </div>
                            </div>
                        </div>
                    </div>
                     <br>
                    <!--Start of amount paid section for cash mode-->
                   
                    <div id="cash" ng-if="applicatorDetails.mode=='cash' && applicatorDetails.received=='Yes'">
                        <!--Start of amount paid field-->
                        <div class="form-group">                               
                            <div class="col-md-3"> 
                                <label class="control-label">Amount Paid</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-blur = "getPendingAmount()" class="form-control" 
                                    name="cashAmountPaid" 
                                    ng-model="applicatorDetails.amountpaid" pattern="[0-9]+" required />
                                </div>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.cashAmountPaid.$error"
                                 ng-show="formSubmitted"> 
                                 <span style="color:red" ng-message="required">Please Enter amount paid</span> 
                                <span style="color:red" ng-message="pattern">Only digits are allowed</span>                             
                                </div>   
                                   
                            </div>
                        </div>
                        <!--End of amount paid field-->
                        <!--Start of paid to field-->
                        <div class="form-group">                               
                            <div class="col-md-3">
                                <label class="control-label">Received By</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control"
                                     name="cashAmountReceiver" 
                                    ng-model="applicatorDetails.paidto"    minlength=2 required />
                                </div>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.cashAmountReceiver.$error"
                                 ng-show="formSubmitted">
                                
                                    <span style="color:red" ng-message="required">Please provide name of amount receiver</span> 
                                    <span style="color:red" ng-message="pattern">Only  characters are allowed</span>
                                    <span style="color:red" ng-message="minlength">Receiver name is too short </span>     
                                </div>  
                                            
                            </div>
                            
                        </div>
                        <!--End of paid to field-->
                        <!--Start of payment date field--> 
                        <div class="form-group">
                            <div class="col-md-3">                              
                                <label class="control-label">Date of Payment</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control" uib-datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="applicatorDetails.paymentDate" show-weeks="false" is-open="showPopup.opened" datepicker-options="dateOptions" ng-click="openPayDate()" show-button-bar="false"  ng-required="true" readonly />
                                </div>
                                 
                            </div>
                        </div>
                        <!--End of payment date field--> 
                        <!--Start of pending amount field-->    
                        <div class="form-group">                               
                            <div class="col-md-3 ">
                                <label class="control-label">Pending Amount</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" 
                                    name="cashPendingAmount"  ng-model="applicatorDetails.pendingAmount" ng-disabled/>
                                </div>            
                            </div>
                        </div>
                        <!--End of pending amount field-->
                    </div>
                    <!--End of amount paid section for cash mode-->

                     <!--Start of amount paid Section-->
                    <div id="cheque" ng-if="(applicatorDetails.mode=='cheque' || applicatorDetails.mode=='dd' || applicatorDetails.mode=='netBanking') && 
                    (applicatorDetails.received=='Yes') ">
                        <!--Start of amount paid field-->
                        <div class="form-group">                                       
                            <div class="col-md-3 ">
                                <label class="control-label">Amount Paid</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" ng-blur = "getPendingAmount()" class="form-control" name="chequeAmountPaid" 
                                    ng-model="applicatorDetails.amountpaid" pattern="[0-9]+" required/>
                                </div>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.chequeAmountPaid.$error"
                                 ng-show="formSubmitted"> 
                                 <span style="color:red" ng-message="required">Please Enter amount paid</span> 
                                <span style="color:red" ng-message="pattern">Only digits are allowed</span>                             
                                </div>            
                            </div>
                        </div>
                        <!--End of amount paid field-->
                        <!--Start of bank name field-->
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Bank Name</label>
                            </div>
                            <div class="col-md-9">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="chequeBankName" ng-model="applicatorDetails.bankname"    required/>
                                </div> 
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.chequeBankName.$error"
                                 ng-show="formSubmitted">
                                
                                    <span style="color:red" ng-message="required">Please provide Bank Name</span> 
                                    <span style="color:red" ng-message="pattern">Only  characters are allowed</span>
                                     
                                </div>                                           
                            </div>
                        </div>
                        <!--End of bank name field-->
                        <!--Start of Branch Name field-->
                        <div class="form-group">                                       
                            <div class="col-md-3">
                                <label class="control-label">Branch Name</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="chequeBranchName" ng-model="applicatorDetails.branchname"    required />
                                </div> 
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.chequeBranchName.$error"
                                 ng-show="formSubmitted">
                                
                                    <span style="color:red" ng-message="required">Please provide Branch Name</span> 
                                    <span style="color:red" ng-message="pattern">Only  characters are allowed</span>
                                     
                                </div>           
                            </div>
                        </div>
                        <!--End of Branch Name field-->
                        <!--Start of Unique Number field-->
                        <div class="form-group">                                       
                            <div class="col-md-3">
                                <label class="control-label">Unique Number</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="chequeUniqueNumber"
                                     ng-model="applicatorDetails.uniquenumber"
                                      pattern="[0-9]+" required/>
                                </div>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.chequeUniqueNumber.$error"
                                 ng-show="formSubmitted"> 
                                 <span style="color:red" ng-message="required">Please provide Unique transaction number</span> 
                                <span style="color:red" ng-message="pattern">Only digits are allowed</span>                             
                                </div>    

                            </div>
                        </div>
                        <!--End of Unique Number field-->
                          <!--Start of paid to field-->
                        <div class="form-group">                               
                            <div class="col-md-3">
                                <label class="control-label">Paid To</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" 
                                    name="chequeReceiver" 
                                    ng-model="applicatorDetails.paidto"
                                      minlength=2 required />
                                </div>
                                <div class="help-block"
                                 ng-messages="applicatorPaymentDetailsForm.chequeReceiver.$error"
                                 ng-show="formSubmitted">
                                
                                    <span style="color:red" ng-message="required">Please provide name of amount receiver</span> 
                                    <span style="color:red" ng-message="pattern">Only  characters are allowed</span>
                                    <span style="color:red" ng-message="minlength">Receiver name is too short </span>     
                                </div>            
                            </div>
                        </div>
                        <!--End of paid to field-->
                        <!--Start of pending amount field-->
                        <div class="form-group">                               
                            <div class="col-md-3 ">  
                                <label class="control-label">Pending Amount</label>
                            </div> 
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" name="pendingAmount" ng-model="applicatorDetails.pendingAmount" readonly>
                                </div>            
                            </div>
                        </div>
                        <!--End of pending amount field-->
                      
                        <!--Start of payment date field--> 
                        <div class="form-group">                              
                            <div class="col-md-3">
                                <label class="control-label">Date of Payment</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>

                                    <input type="text" class="form-control" uib-datepicker-popup="{{'dd-MM-yyyy'}}" ng-model="applicatorDetails.paymentDate" show-weeks="false" is-open="showPopup.opened" datepicker-options="dateOptions" ng-click="openPayDate()" show-button-bar="false"  ng-required="true" readonly />
                                </div>
                                
                            </div>
                        </div>
                        <!--End of payment date field--> 

                    </div>
                    <!--End of amount paid Section-->   
                 </form>   
                   
            </div>
            <!--End of col-md-6 -->
        </div>
        <!--End of Row-->
       
    </div>
    <!--End of panel body-->
    <!--Start of button section-->
    <div class="panel-footer">
         <button ng-click="prevStep()" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Previous</button> 

        <button  ng-click="(formSubmitted=true) 
                    && (applicatorPaymentStatusForm.$valid && (checkPaymentStatus() || applicatorPaymentDetailsForm.$valid)) && processForm('lg')" class="btn  btn-danger pull-right">Submit <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
        
        <button ng-click="clearFields()" class="btn  btn-default pull-right">Clear Form</button>
                                                  
    </div>
    <!--End of button section-->

</div>        
<!--End of panel-->
        
<!--<hicretemodal visible="showModal" title="Schedule Followup" backdrop="static">-->
     <!--<div class="modal-body">-->
        <!--<div class="row">-->
             <!--<form  name="applicatorAmountFollowUpForm" class="form-horizontal" novalidate>-->
            <!--<div class="form-group">-->
                <!--<div class="col-md-4">-->
                    <!--<label class="control-label">Followup Date</label>-->
                <!--</div>-->
                 <!--<div class="col-md-8">                        -->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><span class="fa fa-calendar" ng-click="open1()"></span></span>-->
                        <!--<input type="text" class="form-control" uib-datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="applicatorDetails.followupdate" show-weeks="false" is-open="popup1.opened" datepicker-options="dateOptions"  ng-required="true" close-text="Close"/>-->

                    <!--</div>                                  -->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-md-4">-->
                    <!--<label class="control-label">Followup Employee Id</label>-->
                <!--</div>   -->
                <!--<div class="col-md-8">                            -->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><span class="fa fa-pencil"></span></span>-->

                        <!--<input type="text" class="form-control" name="followupEmployeeId" ng-model="applicatorDetails.followupemployeeId">-->
                    <!--</div>                                       -->
                <!--</div>-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>           -->
    <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default"-->
        <!--ng-click="processFollowup(applicatorDetails)">Submit</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of modal-footer&ndash;&gt;-->
<!--</hicretemodal>-->
                                                                