<div class="row">
             <div class="col-md-12">
			 
		<uib-accordion>
			<uib-accordion-group heading="Package Name :{{package.package_name}} Package Description:{{package.package_description}}" ng-repeat="package in packages |  filter :paginatePackage">
				<table class="table table-bordered">
					<thead>                                            
                            <tr>
                                <th width="5%">Sr.No</th>
                                <th width="10%">Element Name</th>
                                <th width="10%">Element Quantity</th>
                                <th width="10%">Element rate</th>
                                <th width="10%">Element Amount</th>
                                                    
                            </tr>
                        </thead>
					<tbody>	
					<tr ng-repeat="Element in package.elementType">
						<td width="5%">{{$index + 1}}</td>
						 <td width="10%">{{Element['element_name']}}</td>
						<td width="10%">{{Element['element_quantity']}}</td>
						<td width="10%">{{Element['element_rate']}}</td>
						<td width="10%">{{Element['element_amount']}}</td>
						
					</tr>

					</tbody>


				</table>
				<b>	Package Total Amount :{{package.package_total_amount}}</b>
			</uib-accordion-group>   
		</uib-accordion>
				 <uib-pagination total-items="totalPackages" ng-model="currentPackagePage"
								 max-size="5" boundary-links="true"
								 items-per-page="packagePerPage" class="pagination-sm">
				 </uib-pagination>
			 </div>
</div>