<div class="row">
    <div class="col-md-12">                  
         <!-- START SEARCH -->                            
            <div class="panel panel-default">
                <div class="panel-body">                                    
                    <div class="row stacked">
                       <div class="col-md-6">
                           <div class="input-group push-down-10" >
                                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                        
                                    <input type="text" class="form-control" placeholder="Keywords..." value="" ng-model="keyword"/>
                                
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">Search</button>
                                        </div>
                            </div>                                                       
                        </div>
                    </div>
                </div>                                                                
            </div>
        <!-- END SEARCH -->
                            
        <!-- START SEARCH RESULT -->
        <div class="search-results">
            <div class="sr-item">
                <div class="sr-item-title">Tentetive Applicators</div>
                    <div class="table-responsive push-up-10">
                        <table class="table table-actions table-striped">
                            <thead>                                            
                                <tr>
                                    <th width="5%">Sr.No</th>
                                    <th width="10%">Applicator Name</th>
                                    <th width="10%">Contact No</th>
                                    <th width="10%">City</th>
                                    <th width="15%">State</th>
                                    <th width="40%">Actions</th>           
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="applicator in Applicators | filter :paginate    | filter :keyword">
                                    <td width="5%">{{$index + 1}}</td>
                                    <td width="20%">{{applicator.applicator_name}}</td>
                                    <td width="10%">{{applicator.applicator_contact}}</td>
                                    <td width="15%">{{applicator.applicator_city}}</td>  
                                    <td width="15%">{{applicator.applicator_state}}</td>
                                    <td width="35%">
                                    
                                        <button class="btn btn-primary btn-sm" ng-click="open(applicator,'viewDetails.html')"><span class="fa fa-eye"></span>View</button>
                                        <!--ng-click="ApplicatorSelected(applicator)"-->
                                        <!--ng-click="ApplicatorSelected(applicator)"-->
                                        <button class="btn btn-info btn-sm"  ng-click="applicatorToModify(applicator)"><span class="fa fa-pencil-square-o"></span>Modify</button>


                                        <button class="btn btn-danger btn-sm"><span class="fa fa-times"></span>Delete</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <uib-pagination total-items="totalItems" ng-model="currentPage"
                    max-size="5" boundary-links="true"
                    items-per-page="ApplicatorPerPage" class="pagination-sm">
                </uib-pagination>    
                                
        </div>
        <!-- END SEARCH RESULT -->
    </div>                        
</div>



<!-- Modal -->
<!--<div class="modal fade" id="viewDetails"  role="dialog" data-backdrop="static" keyboard="false">-->
    <!--<div class="modal-dialog1">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<h4 class="modal-title">Tentetive Applicator Details</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="row form-horizontal">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Firm Name :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                    <!--{{selectedTentetiveApplicator.applicator_name}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Address :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                    <!--{{selectedTentetiveApplicator.applicator_address_line1}}-->
                                   <!--{{selectedTentetiveApplicator.applicator_address_line2}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Contact No :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.applicator_contact}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Country :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.applicator_country}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">State :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.applicator_state}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">City :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.applicator_city}}-->
                                 <!--</div>-->
                            <!--</div>-->
                         <!--</div>-->
                         <!--<div class="col-md-6">-->
                             <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">VAT Number :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--{{selectedTentetiveApplicator.applicator_vat_number}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">CST Number :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                    <!--{{selectedTentetiveApplicator.applicator_cst_number}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Service Tax Number :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                  <!--{{selectedTentetiveApplicator.applicator_stax_number}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">PAN Number :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.applicator_pan_number}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Point Of Contact :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.point_of_contact}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Source Contact No :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.point_of_contact_no}}-->
                                 <!--</div>-->
                            <!--</div>-->
                         <!--</div>-->

                      <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-header">-->
                    <!--<h4 class="modal-title">Package , Payment  And Follow-Up Details</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                      <!--<div class="row form-horizontal">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Package Name :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.package_name}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Package Description :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                    <!--{{selectedTentetiveApplicator.package_description}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Follow-Up Date :</label>-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                    <!--{{selectedTentetiveApplicator.date_of_follow_up}}-->
                                 <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                 <!--<div class="col-md-4">-->
                                    <!--&lt;!&ndash; <label class="control-label">Package Description :</label> &ndash;&gt;-->
                                <!--</div>-->
                                 <!--<div class="col-md-8">-->
                                     <!--<button data-toggle="modal"  data-target="#viewPackageDetails" class="btn btn-primary">View Details</button>-->
                                 <!--</div>-->
                            <!--</div>-->
                         <!--</div>-->
                         <!--<div class="col-md-6">-->

                              <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Amount Paid :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.amount_paid}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Payment Mode :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.payment_mode}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Date of Payment :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.date_of_payment}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="col-md-4">-->
                                    <!--<label class="control-label">Amount Receiver :</label>-->
                                 <!--</div>-->
                                <!--<div class="col-md-8">-->
                                   <!--{{selectedTentetiveApplicator.paid_to}}-->
                                <!--</div>-->
                            <!--</div>-->


                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--</div>-->
                <!--&lt;!&ndash;End of modal-footer&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;End of Modal Content&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;End of modal dialog&ndash;&gt;-->
<!--</div>-->
<!--End of modal-->
<!--Modal using UI Bootstrap-->
<script type="text/ng-template" id="viewDetails.html">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Tentetive Applicator Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Firm Name :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Address :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_address_line1}}
                                    {{selectedTentetiveApplicator.applicator_address_line2}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Contact No :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_contact}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Country :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_country}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">State :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_state}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">City :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_city}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">VAT Number :</label>
                                </div>
                                <div class="col-md-4">
                                    {{selectedTentetiveApplicator.applicator_vat_number}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">CST Number :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_cst_number}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Service Tax Number :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_stax_number}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">PAN Number :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.applicator_pan_number}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Point Of Contact :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.point_of_contact}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Source Contact No :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.point_of_contact_no}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Package , Payment  And Follow-Up Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Package Name :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.package_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Package Description :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.package_description}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Follow-Up Date :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.date_of_follow_up}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <!-- <label class="control-label">Package Description :</label> -->
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-primary" ng-click="open(applicator,'viewPackageDetails.html')" >View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Amount Paid :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.amount_paid}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Payment Mode :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.payment_mode}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Date of Payment :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.date_of_payment}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Amount Receiver :</label>
                                </div>
                                <div class="col-md-8">
                                    {{selectedTentetiveApplicator.paid_to}}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                </div>
                <!--End of modal-footer-->

</script>

<!--Modal-->
<script type="text/ng-template" id="modifyDetails.html">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tentetive Applicator Details</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <form class="form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Applicator Id</label>
                                </div> 
                                <div class="col-md-9">      
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="firmName" ng-model="applicatorDetails.applicator_id" readonly="readonly">
                                    </div>                                            
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Firm Name</label>
                                </div>
                                <div class="col-md-9">      
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="firmName" ng-model="applicatorDetails.firmname" readonly="readonly">
                                    </div>                                            
                                </div>
                            </div>
                            <div class="form-group">       
                                <div class="col-md-3 ">
                                    <label class="control-label">Address Line1</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="firmAddressline1" ng-model="applicatorDetails.addressline1">
                                    </div>            
                                </div>
                            </div>
                            <!--End of Address line 1 feild-->
                            <!--Start of Address Line 2 feild-->
                            <div class="form-group">
                                <div class="col-md-3 ">        
                                     <label class="control-label">Address Line2</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                          <input type="text" class="form-control" name="firmAddressline2" ng-model="applicatorDetails.addressline2">
                                    </div>            
                                </div>
                            </div>
                            <!--End of Address line 2 feild-->
                            <!--Start of contact number feild-->
                             <div class="form-group"> 
                                <div class="col-md-3">
                                 <label class="control-label">Contact No</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                        <input type="text" class="form-control" name="firmContactNo" ng-model="applicatorDetails.contactno">
                                    </div>            
                                </div>
                            </div>
                            <!--End of contact number feild-->
                            <!--Start of Country Field-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class=" control-label">Country</label>
                                </div>
                                <div class="col-md-9">               
                                    <select class="form-control select" ng-model="applicatorDetails.country">
                                        <option value="">Choose Country..</option>
                                        <option value="India">India</option>
                                        <option value="America">America</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Italy">Italy</option>
                                    </select>
                                </div>
                            </div>
                            <!--End of Country Field-->
                            <!--Start of State Field-->
                            <div class="form-group">
                               <div class="col-md-3">
                                    <label class=" control-label">State</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select"ng-model="applicatorDetails.state">
                                        <option value="">Choose State..</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Benglore">Benglore</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Culcatta">Culcatta</option>
                                     </select>
                                </div>
                            </div>
                            <!--End of State Field-->
                            <!--Start of City Field-->
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">City</label>
                                </div>
                                <div class="col-md-9">  
                                    <select class="form-control select"ng-model="applicatorDetails.city">
                                        <option value="">Choose City..</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Nagar">Nagar</option>
                                        <option value="Nasik">Nasik</option>
                                        <option value="Pandharpur">Pandharpur</option>
                                    </select>
                                </div>
                            </div>
                            <!--End of City Field-->       
                         </div>
                        <div class="col-md-6">
                            <!--Start of VAT No. feild-->
                            <div class="form-group">   
                                 <div class="col-md-3">
                                    <label class="control-label">VAT Number</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                         <input type="text" class="form-control" name="vatNumber" ng-model="applicatorDetails.vatnumber"
                                         readonly="readonly">
                                    </div>            
                                </div>
                            </div>
                            <!--End of VAT No. feild-->
                            <!--Start of CST No. feild-->
                            <div class="form-group">    
                                <div class="col-md-3">
                                    <label class="control-label">CST Number</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                         <input type="text" class="form-control" name="cstNumber" ng-model="applicatorDetails.cstnumber" readonly="readonly">
                                    </div>
                                </div>             
                            </div>
                            <!--End of CST No. Field-->
                            <!--Start of Service Tax No. feild-->
                            <div class="form-group">         
                                <div class="col-md-3">
                                    <label class="control-label">Service Tax Number</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="seviceTaxNumber"ng-model="applicatorDetails.servicetaxnumber" readonly="readonly">
                                    </div>            
                                </div>
                            </div>
                            <!--End of Service Tax No. feild-->
                            <!--Start of PAN No. feild-->
                            <div class="form-group">     
                                <div class="col-md-3">
                                    <label class="control-label">PAN Number</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="panNumber" ng-model="applicatorDetails.pannumber" readonly="readonly">
                                    </div>            
                                </div>
                            </div>
                            <!--End of PAN No. feild-->
                            <!--Start of Point of contact feild-->
                            <div class="form-group">       
                               <div class="col-md-3">
                                    <label class="control-label">Point of contact</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                       <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control" name="pointOfContact" ng-model="applicatorDetails.pointofcontact">
                                    </div>            
                                </div>
                            </div>
                            <!--End of Point of contact feild-->
                            <!--Start of source contact number Field-->
                            <div class="form-group">          
                                 <div class="col-md-3">
                                    <label class="control-label">Source Contact No</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                         <input type="text" class="form-control" name="pointContactNo" ng-model="applicatorDetails.pointcontactno">
                                    </div>            
                                </div>
                            </div>
                            <!--End of source contact number Field-->
                        </div>    
                    </form>
                </div>
            </div>  
            <div class="modal-footer">
                 <button ng-click="modifyApplicatorDetails(applicatorDetails)"class="btn btn-danger pull-right">Submit <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                 <button class="btn  btn-default pull-right">Clear Form</button>
            </div>
             <!--End of modal-footer-->
</script>
<!--End of modal-->

<script type="text/ng-template" id="viewPackageDetails.html">
                <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Package Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                            <div class="table-responsive">
                                      <table class="table table-actions table-striped">
                                          <thead>                                            
                                              <tr>
                                    <th width="15%">Package Element</th>
                                                  <th width="15%">Element Quantity</th>
                                    <th width="15%">Element Rate</th>
                                                  <th width="15%">Element Amount</th>
                                  </tr>
                                          </thead>
                                          <tbody>
                                              <tr ng-repeat="elementData in selectedTentetiveApplicator.elementType">
                                                  <td>{{elementData.element_name}}</td>
                                                  <td>{{elementData.element_quantity}}</td>
                                                  <td>{{elementData.element_rate}}</td>
                                                  <td>{{elementData.element_amount}}</td>
                                               </tr>                                               
                                          </tbody>
                                       </table>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-4">
                                          <label class="control-label"><b>Package Total Amount</b></label>
                                      </div>
                                      <div class="col-md-6">                                        
                                          <b> {{selectedTentetiveApplicator.package_total_amount}} </b>
                                      </div>
                                   </div>      
                       
                            </div>
                        
                      </div>  
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <!--End of modal-footer-->
</script>


