<div class="col-md-12">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Package</strong> Details</h3>
            </div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">
                            
                        <form class="form-horizontal" name="packageForm" novalidate>
                           
                            <div class="form-group">
                                
                                <div class="col-md-4">
                                
                                    <label class="control-label">Package Name</label>
                                
                                </div>
                                
                                <div class="col-md-8">     
                                
                                    <div class="input-group">
                                
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                
                                        <input type="text" class="form-control" name="packageName" ng-model="packageDetails.packagename" pattern="[a-zA-Z0-9 ]+"  required />
                                    
                                    </div> 
                                    
                                    <div class="help-block" ng-messages="packageForm.packageName.$error"
                                         ng-show="packageFormSubmitted">
                                        <span style="color:red" ng-message="required">Package name is required</span> 
                                        <span style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</span>
                                           
                                    </div>                                       
                                
                                </div>
                            
                            </div>
                            <div class="form-group">
                            
                                <div class="col-md-4">
                            
                                    <label class="control-label">Package Description</label>
                            
                                </div>
                            
                                <div class="col-md-8"> 

                                    <textarea class="form-control"  name="packageDescription" ng-model="packageDetails.packagedescription" rows="2" pattern="[a-zA-Z0-9 ]+"  required  minlength="20">
                                        
                                    </textarea>
                                     
                                     <div class="help-block"
                                         ng-messages="packageForm.packageDescription.$error"
                                         ng-show="packageFormSubmitted">
                                        <span style="color:red" ng-message="required">Package description is required</span> 
                                        <span style="color:red" ng-message="pattern">Only alphanumeric characters are allowed</span>
                                        <span style="color:red" ng-message="minlength">Please provide atleast 100 char description</span>     
                                    
                                    </div>     
                                
                                </div>
                           
                            </div>

                            <div class="form-group">
                            
                                <div class="col-md-4">
                            
                                    <label class="control-label">Number of Element</label>
                            
                                </div>
                                <div class="col-md-8"> 
                                 
                                    <div class="col-md-10">
                                 
                                       <div class="input-group">
                                 
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                 
                                            <input type="text"  name="noOfElement"  ng-model="noOfElement" class="form-control" pattern="[0-9]+"  required >
                                 
                                         </div> 
                                        
                                        <div class="help-block" ng-messages="packageForm.noOfElement.$error" ng-show="packageFormSubmitted">
                                            <span style="color:red" ng-message="required">Please enter no of element </span> 
                                            <span style="color:red" ng-message="pattern">Only numeric value is allowed</span>
                                           
                                        </div>     
                                    
                                    </div>
                                    
                                    <div class="col-md-2">
                                     
                                        <button class="btn btn-primary"  ng-click="add()" >Add</button>
                                   
                                    </div>                   
                                
                                </div>
                            
                            </div>

                          
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    
                </div>
                <br><be>
                 <div class="row" ng-show="showElementField">
                    <table class="table table-actions">
                        <thead>   
                            <tr>
                                <th>Element Name</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Total Cost</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="element in packageDetails.elementType">
                            <td>                              
                                <input type="text" name="elementQuantity" placeholder="Element Name" ng-model="element.type" class="form-control"/>
                            </td>           
                            <td> 
                                <input type="text" name="elementQuantity" placeholder="Quantity" ng-model="element.quantity" class="form-control"/>  
                            </td>
                            <td>
                                <input type="text" name="elementRate" placeholder="Rate" ng-model="element.rate" class="form-control"/>  
                            </td>
                            <td>{{element.quantity * element.rate}}</td>
                            <td>
                                <a ng-click="remove($index)" class="panel-remove">
                                <span class="fa fa-times"></span>
                                </a>
                            </td>
                            </tr>
                        </table>
                </div>
                 </form>

            </div>
             <div class="panel-footer">
                    <button ng-click="(packageFormSubmitted=true) && packageForm.$valid &&processPackage(packageDetails)"  class="btn  btn-primary pull-right">Submit</button>   
                     <button ng-click="clearFields(packageDetails)"class="btn  btn-default pull-right">Clear Form</button>           
            </div>
    </div> 
</div>           